@media screen and (min-width: 992px) and (max-width: 1199px) {
	.container {
		width: 100%;
	}
}

@media screen and (min-width: 992px) {
	.lg-pl {
		padding-left: 5rem;
	}
}

@media screen and (max-width: 991px) {
	.ccp_form_steps {
		display: none;
	}

	.footer-sec {
		text-align: center;
	}

	.footer-menu ul {
		padding-left: 0;
		float: left !important;
		text-align: center;
		display: block;
		margin: 0 auto;
		width: 100%;
	}

	.footer-menu ul li {
		padding: 10px 5px;
	}
}

@media screen and (min-width: 992px) and (max-width: 1080px) {
	.footer-menu ul li {
		padding: 17px 8px;
	}
}

@media screen and (min-width: 1140px) {
	.user-password-error {
		left: 38em;
	}
}
@media screen and (min-width: 767px) and (max-width: 991px) {
	/*.main-heading + div {*/
		/*display: table;*/
		/*margin: 0 auto;*/
		/*padding: 0;*/
	/*}*/
}
@media screen and (min-width: 768px) and (max-width: 1140px) {
	.user-password-error {
		left: 35em;
	}
}

@media screen and (max-width: 767px) {

	.add-top-margin-address-state{
		margin-top:15px;
	}

	.subscription-fix{
		min-height: auto;
	}

	.detail-box {
		margin-bottom: 10px;
	}

	.detail-box span.step-title {
		width: 100%;
		text-align: left;
		margin-bottom: 20px;
		padding-left: 50px;
	}

	.detail-box span.step-title:before {
		left: 0;
	}

	.ccp-info-desc {
		width: 100%;
	}

	.ccp-form-action {
		width: auto;
	}

	.all-notifications > div {
		position: relative;
		line-height: 17px;
		padding: 10px 5px 1px 30px;
		height: auto;
	}

	.all-notifications > div img {
		position: absolute;
		left: 11px;
		top: 10px;
	}

	.all-notifications > div span {
		left: 13px;
		line-height: 17px;
		top: 1px;
		padding-bottom: 7px;
		font-size: 13px;
	}

	.btn.ccp-form-btn,
	.btn-create-account{
		width: 100%;
	}

	.user-password-error {
		position: relative;
		right: 0;
		padding: 0 17px;
		display: table;
		margin-top: 5px;
	}

	.tab_content {
		font-size: 15px;
		padding: 10px 0;
	}

	label {
		line-height: 20px;
		font-size: 14px;
	}

	.checkbox label::before {
		left: -2px;
		top: 1px;
	}
}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 480px) {
	.form-check label + span {
		display: table;
		margin: 0px 15px 10px;
	}

	.cont-create .btn-create-account {
		width: 100%;
	}
}
