@font-face {
	font-family: 'encode_sanssemibold';
	src: url('../../../fonts/encodesans-semibold/encodesans-semibold.8bda89cd-webfont.woff2') format('woff2'),
	url('../../../fonts/encodesans-semibold/encodesans-semibold.8bda89cd-webfont.woff') format('woff'),
	url('../../../fonts/encodesans-semibold/encodesans-semibold.8bda89cd-webfont.ttf') format('truetype'),
	url('../../../fonts/encodesans-semibold/encodesans-semibold.8bda89cd-webfont.svg#encode_sanssemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'encode_sansregular';
	src: url('../../../fonts/encodesans-regular/encodesans-regular.48485e9e-webfont.woff2') format('woff2'),
	url('../../../fonts/encodesans-regular/encodesans-regular.48485e9e-webfont.woff') format('woff'),
	url('../../../fonts/encodesans-regular/encodesans-regbtn-primary-outlineular.48485e9e-webfont.ttf') format('truetype'),
	url('../../../fonts/encodesans-regular/encodesans-regular.48485e9e-webfont.svg#encode_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'encode_sansmedium';
	src: url('../../../fonts/encodesans-medium/encodesans-medium.d9ea512c-webfont.woff2') format('woff2'),
	url('../../../fonts/encodesans-medium/encodesans-medium.d9ea512c-webfont.woff') format('woff'),
	url('../../../fonts/encodesans-medium/encodesans-medium.d9ea512c-webfont.ttf') format('truetype'),
	url('../../../fonts/encodesans-medium/encodesans-medium.d9ea512c-webfont.svg#encode_sansmedium') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'encode_sans_expandedregular';
	src: url('../../../fonts/encodesans-expended-regular/encodesansexpanded-regular-webfont.woff2') format('woff2'),
	url('../../../fonts/encodesans-expended-regular/encodesansexpanded-regular-webfont.woff') format('woff'),
	url('../../../fonts/encodesans-expended-regular/encodesansexpanded-regular-webfont.ttf') format('truetype'),
	url('../../../fonts/encodesans-expended-regular/encodesansexpanded-regular-webfont.svg#encode_sans_expandedregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body {
	height: 100%;
	background: #f9f9f9;
}

a:active, a:focus, a:visited, a:hover {
	text-decoration: none;
}

input.form-control:focus {
	box-shadow: 0 0 0 0;
}

.ccp_header {
	background: #231f20;
	padding: 25px 0;
}

.ccp-main-cont {
	padding-top: 25px;
	padding-bottom: 25px;
}

.main-heading {
	color: #231f20;
	font-family: 'encode_sansmedium';
	font-size: 18px;
	margin-bottom: 25px;
}

.ccp_form_steps {
	-webkit-box-shadow: 0 1px 4px 0 #c9c9c9;
	box-shadow: 0 1px 4px 0 #c9c9c9;
	background: #FFF;
	border-radius: 0px;
	padding: 22px 15px;
	width: 315px;
	float: right;
}

.StepProgress {
	position: relative;
	list-style: none;
}

.StepProgress-item {
	position: relative;
	counter-increment: list;
	font-family: 'encode_sansmedium';
	color: #231f20;
}

ul.StepProgress li {
	padding-left: 15px;
	font-size: 16px;
	line-height: 37px;
}

.StepProgress-item:not(:last-child) {
	padding-bottom: 24px;
}

.StepProgress-item::before {
	display: inline-block;
	content: '';
	position: absolute;
	left: -18px;
	height: 100%;
	width: 10px;
}

.StepProgress-item::after {
	content: '';
	display: inline-block;
	position: absolute;
	top: 0;
	left: -37px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
}

.StepProgress-item.is-done::before {
	border-left: 2px solid #0fa7e9;
}

.StepProgress-item.is-done::after {
	font-size: 10px;
	color: #FFF;
	text-align: center;
	background: url('../../../images/done-icon-steps.png') no-repeat;
	outline: 3px solid #fff;
}

.StepProgress-item.current::before {
	border-left: 2px solid #0fa7e9;
}

.StepProgress-item.current::after {
	content: counter(list);
	line-height: 44px;
	width: 40px;
	height: 40px;
	top: -4px;
	left: -37px;
	font-size: 16px;
	text-align: center;
	color: green;
	border: 0 none;
	background: #e1e1e1;
	outline: 3px solid #fff;
	color: #FFF;
}

.StepProgress-item.current.active {
	color: #00a2e8;
}

.StepProgress-item.current.active:after {
	background: #00a2e8;
}

.StepProgress strong {
	display: block;
}

.form-horizontal .form-group {
	position: relative;
}

.form-horizontal .email_info .form-group {
	margin-bottom: 7px;
}

label {
	font-family: 'encode_sansmedium';
	font-weight: normal;
	font-size: 16px;
	color: #615e60;
	line-height: 42px;
	min-width: 160px;
}

.asterik {
	color: #0e99d7;
}

.ccp-txtbox {
	padding: 17px 10px;
	min-width: 240px;
	border-radius: 2px;
}

@media all and (-ms-high-contrast:none)
{

	.ccp-txtbox{
		height:36px;
		padding:0 10px;
	}

	.subscription-fix{
		min-height:197px;
	}

}

.ccp-selectbox {
	min-width: 240px;
	height: 36px;
	border: 1px solid #ccc;
	border-radius: 2px;
}

.ccp-step-enabled {
	background: #FFF;
	border: #0e99d7 1px solid;
}

.tab-header {
	background: #0e99d7;
	color: #FFF;
	font-family: 'encode_sansregular';
	font-size: 17px;
	padding: 12px 12px;
}

.tab-section {
	padding: 12px 12px;
}

.tab_content {
	padding: 20px 0;
	font-family: 'encode_sansmedium';
	color: #615e60;
	font-size: 16px;
}

.pl-0 {
	padding-left: 0;
}

.pr-0 {
	padding-right: 0;
}

.all-notifications > div {
	color: #FFF;
	font-family: 'encode_sansregular';
	line-height: 38px;
	padding: 10px 15px;
	font-size: 14px;
	height: auto;
	margin-bottom: 15px;
}

.all-notifications > div i,
.all-notifications > div img {
	margin-right: 10px;
}

.all-notifications > div img {
	float: left;
	margin: 0;
}

.all-notifications > div span {
	float: left;
	width: 90%;
	position: relative;
	left: 20px;
	line-height: 18px;
	top: 2px;
}

.ccp-form-warning {
	background: #004185;
}

.ccp-form-error {
	background: #e4433f;
}

.ccp-form-success {
	background: #3c763c;
}

.ccp-form-btn {
	background: #2aa7e3;
	background: -webkit-gradient(linear, left top, left bottom, from(#2aa7e3), to(#27a0e1));
	background: linear-gradient(#2aa7e3, #27a0e1);
	border: #007bff 1px solid;
	font-family: 'encode_sansregular';
	width: 280px;
	height: 41px;
	color: #FFF;
	font-size: 15px;
}

.ccp-form-btn:hover {
	background: #00a3db;
	background: -webkit-gradient(linear, left top, left bottom, from(#00a3db), to(#008fd3));
	background: linear-gradient(#00a3db, #008fd3);
	color: #fff;
}

.ccp-form-btn:active,
.ccp-form-btn:focus {
	color: #fff;
	background: #0062cc;
	border-color: #005cbf;
}

.btn-create-account {
	height: 41px;
	border-radius: 0px;
	font-family: 'encode_sansmedium';
	font-size: 15px;
	color: #c2c2c2;
	margin-top: 3px;
	width: 280px;
}

.ccp-form-step:not(.ccp-step-enabled) {
	background: #FFF;
	margin-top: 15px;
	padding: 22px 15px;
}

.increment-num {
	counter-increment: sections;
}

.ccp-form-step:before {
	content: counter(sections);
	position: absolute;
	background: #00a2e8;
	border-radius: 100%;
	width: 32px;
	height: 32px;
	text-align: center;
	color: #fff;
	line-height: 35px;
	font-family: 'encode_sansmedium';
	font-size: 13px;
}

.ccp-form-step.ccp-step-enabled:before,
.ccp-form-step.detail-box:before {
	display: none;
}

span.step-title {
	margin-left: 50px;
	color: #231f20;
	font-size: 18px;
	font-family: 'encode_sansmedium';
	line-height: 36px;
}

.detail-box span.step-title {
	position: relative;
	margin-left: 0;
	width: 49%;
	display: inline-block;
	padding-left: 50px;
}

.business-info {
	margin-top: 15px;
}

.user-password-error {
	font-family: 'encode_sansregular';
	font-size: 12px;
	color: #7a7d7f;
	position: absolute;
	top: 5px;
	right: 5px;
	/*width: 280px;*/
}

.form-check label + span {
	color: #bfbdbe;
	font-family: 'encode_sansmedium';
	font-style: italic;
	font-size: 14px;
	margin-left: 5px;
}

.tab-section > p {
	height: 200px;
	overflow-y: scroll;
	overflow-x: hidden;
	font-family: 'encode_sansregular';
	color: #231f20;
	padding: 0 10px;
	line-height: 20px;
}

.agreementcheck {
	padding: 0 10px;
}

.agreementcheck label {
	font-size: 15px;
}

.radio,
.checkbox {
	padding-left: 20px;
	position: relative;
	display: block;
}

.radio input,
.checkbox input {
	opacity: 0;
	position: absolute;
	z-index: 1;
	cursor: pointer;
	margin-left: -20px;
}

.checkbox input:checked + label::before {
	border-color: #00a2e8;
}

.checkbox input:checked + label::after {
	content: '';
	display: inline-block;
	position: absolute;
	width: 13px;
	height: 13px;
	left: 2px;
	top: 4px;
	margin-left: -20px;
	border-radius: 50%;
	background-color: #00a2e8;
}

.checkbox label {
	display: inline-block;
	position: relative;
	padding-left: 5px;
}

.checkbox label::before {
	content: '';
	display: inline-block;
	position: absolute;
	width: 17px;
	height: 17px;
	left: -2px;
	top: 12px;
	margin-left: -20px;
	border: 1px solid #ccc;
	border-radius: 50%;
	background-color: #e1e1e1;
}

.checkbox.disabled label {
	color: #ccc;
}

.checkbox.disabled label::before {
	opacity: .54;
	border-color: #ccc;
}

.checkbox input:checked + label::before {
	background-color: #00a2e8;
}

.checkbox input:checked + label::after {
	content: "\f00c";
	font-family: FontAwesome;
	font-size: 13px;
	color: #fff;
	top: 0;
	left: 0px;
	border-color: transparent;
	background-color: transparent;
	font-weight: 100;
}

.checkbox label::before {
	border-radius: 2px;
}

.cont-create {
	margin: 30px 0 0;
}

.cont-create .btn-create-account {
	background: #c2c2c2;
	color: #fff;
}

.cont-create .btn-create-account:hover {
	background: #c2c2c2;
}

.detail-box {
	background: #fff;
	padding: 22px 15px;
	margin-bottom: 15px;
}

.detail-box span.step-title:before {
	background: url('../../../images/done-icon.png') no-repeat;
	position: absolute;
	content: " ";
	border-radius: 100%;
	width: 32px;
	height: 32px;
	text-align: center;
	color: #fff;
	left: 0px;
	font-family: 'encode_sansmedium';
	font-size: 13px;
}

.ccp-info-desc {
	display: inline-block;
	vertical-align: middle;
	float: none;
	font-family: 'encode_sansregular';
	width: 50%;
}

.ccp-section-field {
	display: table;
	width: 100%;
	font-size: 16px;
}

.ccp-form-action {
	float: right;
	width: 45px;
}

input[type="radio"], input[type="checkbox"] {
	margin-right: 10px;
}

footer {
	background: #231f20;
	color: #FFF;
	padding: 50px 0 25px;
	font-family: 'encode_sansmedium';
}

.footer-sec > div {
	margin-bottom: 20px;
}

.social-media-icons i {
	color: #fff;
	font-size: 24px;
	margin-left: 10px;
}

.copyrights {
	font-size: 13px;
}

.footer-menu ul {
	list-style: none;
	margin-top: 10px;
}

.footer-menu ul li {
	display: inline-block;
	padding: 20px 15px;
}

.footer-menu ul li:last-child {
	padding: 0;
}

.footer-menu ul li a {
	color: #FFF;
	font-size: 14px;
}

.enable-step-btn {
	border: #0e9ad7 2px solid !important;
	color: #0e9ad7;
}

.ccp-form-success span a {
	color: #FFF;
	margin-left: 1px;
	text-decoration: underline;
}

.ccp-selectbox,
.add-top-margin-address-state,
.ccp-txtbox{
	min-width:auto;
}

.address-state{
	padding:5px;
	height:36px;
}

/*.aou-top-gap {*/
/*margin-top: 15px;*/
/*}*/
/*.relative{*/
/*position: relative;*/
/*}*/
/*.no-left-padding{*/
/*padding-left: 0px;*/
/*}*/
/*.ccp-step-enabled {*/
/*background: #FFF;*/
/*border: #0e99d7 1px solid;*/
/*border-radius: 6px;*/
/*}*/

/*.tab-header {*/
/*padding: 12px 12px;*/
/*color: #231f20;*/
/*font-size: 18px;*/
/*font-family: 'encode_sansmedium';*/
/*}*/

/*.tab-header span.tab-circle {*/
/*padding: 4px;*/
/*display: inline-block;*/
/*background: #0e99d7;*/
/*color: #fff;*/
/*border-radius: 14px;*/
/*width: 28px !important;*/
/*text-align: center;*/
/*font-size: 14px;*/
/*margin-left: 8px;*/
/*}*/

/*.tab-header span.tab-header-title {*/
/*margin-top: 4px;*/
/*margin-left: 0px;*/
/*margin-left: 10px;*/
/*position: absolute;*/
/*}*/
[v-cloak], .v-cloak { display: none; }
.spiceworks {
	height: 21px;
	width: 21px;
	background: url("/img/global/logo-spiceworks.png") 0 2px/contain no-repeat;
}
