@import "../../../../../resources/assets/scss/ccp-app";

/*Page Css Starts Here */
.main-address {
  width: 100%;
}

.request-pending {
  border-top: #d4d4d4 1px solid;
  .requesting {
    float: right;
    display: table;
    margin-top: 20px;
    font-family: $MediumFont;
    color: #0e99d7;
    font-size: 17px;
    background: url("../../../../../resources/assets/img/billing-address/loading.gif") no-repeat right center;
    padding-right: 28px;
  }
}

.light-para {
  float: left;
}

/*Media Quries Starts Here*/

@media screen and (max-width: 600px) {
  .my-profile .main-content {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 768px) {

  .request-pending {
    .requesting {
      float: left;
      margin-top: 0;
    }
  }
}

@media screen and (min-width: 768px) /*We can change 767 to 600*/
{

  .ccp-txtbox,
  .btn-user-bordered-lg{
    margin-left:20px;
  }
  .organization-name{
    .asterik{
      position: absolute;
      top: 0;
      right: -20px;
      left: inherit;
    }
  }

  .b-address {
    width: 300px;
    float: left;
  }
  .billingAddressForm {
    width: 525px;
    padding-right:0;
  }
}

@media screen and (min-width: 991px) {
  fieldset {
    //padding-right:70px;
  }
}

@media screen and (max-width: 420px) {
  .xs-custom-12{
    width:100%;
    margin-bottom: 15px;
  }
}




/*Media Quries Ends Here*/

/*Page Css Ends Here*/

.all-notifications {
  > div {
    color: #FFF;
    font-family: 'encode_sansregular';
    line-height: 38px;
    padding: 0px 15px;
    font-size: 14px;
    height: 36px;
    margin-bottom: 15px;
    i {
      margin-right: 10px;
      vertical-align: middle;
    }
    img {
      margin-right: 10px;
      vertical-align: middle;
    }
  }
}


