@import "../../../../../resources/assets/scss/ccp-app";

.all-notifications {
  > div {
    color: #FFF;
    font-family: 'encode_sansregular';
    line-height: 38px;
    padding: 0px 15px;
    font-size: 14px;
    height: 36px;
    margin-bottom: 15px;
    i {
      margin-right: 10px;
      vertical-align: middle;
    }
    img {
      margin-right: 10px;
      vertical-align: middle;
    }
  }
}

/*-------------------------*/
/*Page Css Starts Here */
.domain-header {
  background: url("~/../img/domain-strip.png");
  height: 49px;
  line-height: 52px;
  > span {
    position: relative;
    float: left;
    display: table;
  }
  .domain-heading {
    font-family: $MediumFont;
    color: $color-blck;
    font-size: 16px;
  }
  .domain-sort {
    height: 8px;
    width: 16px;
    background: url('~/../img/sorting.png') no-repeat center center;
    left: 6px;
    top: 23px;
  }
}

.domain-list {
  ul {
    width: 100%;
  }
  .domain {
    color: $color-blck;
    font-family: $regularFont;
    font-size: 16px;
    line-height: 32px;
    text-align: left;
  }
  .remove-domain {
    text-align: left;
    font-family: $regularFont;
    a {
      color: #0e99d7;
      font-size: 16px;
      &:hover {
        text-decoration: none;
        color: #337ab7;
      }
    }
    span  {
      font-size: 16px;
      color:#999;
    }
  }
}

.domain-add {
  margin: 5px 0;
  padding: 0;
  > div {
    > div, .domain-add-feilds > div {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

div#myModal {
  background: rgba(0, 0, 0, 0.80);
}

h4.modal-title {
  text-align: center;
  font-family: $MediumFont;
}

.modal-body {
  font-size: 15px;
  padding: 10px 0px 25px;
  font-family: $regularFont;
}

.domain-delete {
  margin: 0px;
  text-align: center;
}

.modal-footer {
  border: none;
  padding: 0px 10px 39px;
}

.p-l-0 {
  button {
    width: 100%;
  }
}

.modal-dialog {
  width: 438px;
  margin: 0px auto;
  top: 40%;
}

.modal-content {
  width: 100%;
  border-radius: 0px;
  border: 1px solid #000;
}

.modal-header {
  padding: 8px;
  border: none;
}

button.close {
  color: #989797;
  background: transparent;
  border: none;
  float: right;
  width: 100%;
  text-align: right;
  font-size: 31px;
  margin-top: -8px !important;
}

.domain-list {
  ul {
    li {
      margin-bottom: 15px;
    }
  }
}

/*Media Quries Starts Here*/
@media screen and (max-width: 600px) {

  .all-notifications {
    position: relative;
    > div {
      line-height: 18px;
      padding: 1px 15px 1px 40px;
      font-size: 14px;
      height: auto;
      text-align: left;
      margin-top: 15px;
      img {
        position: absolute;
        left: 10px;
      }
    }
  }
  .domain-list {
    .domain {
      font-size: 15px;
    }
    .remove-domain {
      a {
        font-size: 14px;
      }
      span  {
        font-size: 14px;
        color:#999;
      }
    }
  }
}


@media screen and (max-width: 438px) {
  .modal-dialog {
    width: 100%;
  }
}

@media screen and (min-width: 600px) {
  .domain-list {
    width: 400px;
    + .domain-add {
      width: 290px;
    }
  }
}

/*Media Quries Ends Here*/
/*Page Css Ends Here*/