@import "../../../../../resources/assets/scss/ccp-app";

/*Page Variables Starts Here*/
$color-blck: #231f20;
$regularFont: 'encode_sansregular';
$lightFont: 'encode_sanslight';
$plr-0: 0;
@mixin PageHeadingStyle {
  font-size: 26px;
  line-height: 41px;
}

@mixin headingsAndLabels {
  font-size: 16px;
}

@mixin BrowseFile {
  position: relative;
  left: 6px;
  top: 10px;
}

@mixin LightPara {
  font-family: $lightFont;
  color: $color-blck;
  font-size: 16px;
  display: table;
  line-height: 25px;
  margin-bottom: 30px;

}

//$style1: 100%, 70px, #fo6d06;
//$style2: (background: #bada55, width: 100%, height: 100px);
//
//@mixin box($width, $height, $background) {
//  width: $width;
//  height: $height;
//  background-color: $background;
//}
/*Page Variables Ends Here*/
/* All Page Scss*/
.row {
  display:block;
  max-width: none;
  margin-left: -15px;
  margin-right: -15px;
}

.light-para {
  @include LightPara;
  margin-bottom: 30px;
  float:left;
  p{
    text-align:left;
    font-size:15px;
    line-height: 20px;
    margin:-10px 0 -5px 0;
  }
}

/*Headings of pages*/
.page-heading {
  margin-bottom: 10px;
  text-align: left;
  span {
    @include PageHeadingStyle;
    color: $color-blck;
    font-family: $regularFont;
    // @include box($style1...);
  }
}

/*All Labels*/
.ccp-label {
  @include headingsAndLabels;
  color: $color-blck;
  font-family: $regularFont;
}

/*Buttons*/
@mixin borderedBtn {
  background: none;
  color: #0e99d7;
  border: #808e97 1px solid;
  font-family: $regularFont;
  font-weight: normal;
}

/*Checkbox Css Starts Here*/
.checkbox {
  padding-left: 20px;
  label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
    left: 20px;
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #808e97;
      border-radius: 0px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    }
    &::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555;
      outline: none;
    }
  }
  input[type="checkbox"] {
    opacity: 0;
    &:focus {
      + {
        label {
          &::before {
            outline: thin dotted;
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
          }
        }
      }
    }
    &:disabled {
      + {
        label {
          opacity: 0.65;
          &::before {
            background-color: #eeeeee;
            cursor: not-allowed;
          }
        }
      }
    }
  }
}

.checkbox.checkbox-circle {
  label {
    &::before {
      border-radius: 50%;
    }
  }
}

.checkbox.checkbox-inline {
  margin-top: 0;
}

input[type="checkbox"] {
  &:focus {
    outline: 0;
  }
}

lable:focus {
  outline: none;
}

.checkbox-primary {
  input[type="checkbox"] {
    &:checked {
      + {
        label {
          &::before {
            background: url("'~/../img/active-chk.png");
            box-shadow: none;
            width: 23px;
            height: 22px;
            outline: none;
          }
          &::after {
            color: #fff;
          }
        }
      }
    }
  }
}

/**Checkbox Css Ends Here */
/*Fancy Browse*/
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
  }
}

.btn {
  @include borderedBtn;
}

.btn-primary-lg {
  height: 41px;
  width: 100%;
  border-radius: 2px;
  font-family: 'encode_sansregular';
  color: #FFF;
  font-size: 16px;
  background: #0e99d7;
  border: 0 none;
}

.btn-user-bordered-lg {
  min-width: 100%;
  height: 41px;
  font-family: 'encode_sansregular';
  color: #0e99d7;
  font-size: 15px;
  border-radius: 2px;
  border: #808e97 1px solid;
  background: none;
}

/*-------------------------*/
/*Page Css Starts Here */
.checkbox-primary {
  padding-left: 0px;
  top: -10px;
}

.fileinput-new, .fileinput-filename, .fileinput-exists {
  font-size: 15px;
  color: #7a7d7f;
  font-family: $lightFont;
  position: relative;
}

.account-settings-btn {
  margin-top: 60px;
  margin-bottom: 60px;
}

.setting-form {
  > div {
    padding-left: 0;
    padding-right: 0;
  }
}

.UserAccountChk {
  > div {
    padding-left: 0;
    padding-right: 0;
  }
}

.settings-btn {
  > div {
    padding-left: 0;
    padding-right: 0;
  }
}

.logoUpload {
  > div {
    padding-left: 0;
    padding-right: 0;
  }
}

.fileinput {
  .btn {
    float: left;
    background: none;
  }
}

.fileinput-filename {
  @include BrowseFile;
}

.fileinput-filename {
  + span.fileinput-new {
    @include BrowseFile;
  }
}


.UserAccountChk{
  span {
    float: left;
    line-height: 30px;
  }
}
.UserAccountChk{
  .ccp-label{
    position: relative;
    left:35px;
  }
}


/*Media Quries Starts Here*/
@media screen and (max-width: 600px) {
  .my-profile .main-content {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .UserAccountChk{
    span.checkbox.checkbox-primary{
      left:-20px;
    }
  }
  .fileinput-new,
  .fileinput-filename,
  .fileinput-exists {
    float: left;
    text-align: left;
    margin-top: 20px;
  }
  .checkbox {
    label {
      left: 40px;
    }
  }
  .ccp-label {
    display: table;
    text-align: left;
    font-size: 15px;
  }
  .fileinput-filename {
    top: 0;
  }
  .fileinput-filename {
    + span.fileinput-new {
      top: 0;
    }
  }
}

@media screen and (min-width:825px){
  .UserAccountChk {
    width: 580px;
  }
}

@media screen and (min-width: 767px) {
  .logoUpload {
    width: 500px;
  }
  .settings-btn {
    width: 500px;
  }
  .filemsgs {
    position: absolute;
    width: 400px;
    left: 140px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .fileinput {
    margin-top: 25px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .btn-file {
    + .fileinput-filename {
      float: left;
    }
  }
  .logoUpload {
    width: 100%;
  }
  .filemsgs {
    position: relative;
    width: auto;
    left: 0;
    float: left;
  }
}

@media screen and (max-width: 992px) {
  .account-settings-btn {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1199px) {
  .fileinput {
    margin-left: 54px;
  }
  .filemsgs{
    width: 275px;
    top: -11px;
    line-height: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .fileinput.fileinput-new,
  .fileinput.fileinput-exists {
    margin-left: 10px;
  }
}

/*Media Quries Ends Here*/
/*Page Css Ends Here*/

.all-notifications {
  >div {
    color: #FFF;
    font-family: 'encode_sansregular';
    line-height: 38px;
    padding: 0px 15px;
    font-size: 14px;
    height: 36px;
    margin-bottom: 15px;
    i {
      margin-right: 10px;
      vertical-align: middle;
    }
    img {
      margin-right: 10px;
      vertical-align: middle;
    }
  }
}

.ccp-form-success {
  background: #3c763c;
}
.ccp-form-error {
  background: #e4433f;
}
#AccountSettings button[disabled]{
  opacity: 0.5 !important;
  cursor: not-allowed !important;
}
.fileinput.fileinput-new:hover {
  cursor: pointer !important;
}