<template>
    <div class="tab-content invite-user-form">
        <div class="tab-heading">
            <span>Invite Users</span>
        </div>
        <alert :root_url="root_url" :message_class="messageClass" :message_text="messageText"
               :show_message="showMessageForm"></alert>
        <div v-if="InviteUserForm">
            <div class="form-slogan">
                Please enter the following information to invite a user
            </div>
            <div class="ccp-form-row clearfix">
                <div class="col-sm-12">
                    <div class="form-group row">
                        <div class="col-lg-4 col-sm-4 col-xs-12">
                            <label for="email_address" class="">E-Mail Address</label>
                        </div>
                        <div class="col-lg-8 col-sm-8 col-xs-12">
                            <input v-validate="'required|email'" data-vv-as="Business Email" v-model="formData.email"
                                   type="text" id="email_address"
                                   class="form-control ccp-txtbox" name="email-address">
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12">
                    <div class="form-group row">
                        <div class="col-lg-4 col-sm-4 col-xs-12">
                            <label for="email_address">Role</label>
                        </div>
                        <div class="col-lg-8 col-sm-8 col-xs-12">
                            <select v-validate="'required'" data-vv-as="Role" name="role" class="form-control ccp-txtbox"
                                    v-model="formData.role_name">
                                <option v-for="(role, roleIndex) in roles"
                                        :selected="roleIndex==0 ? 'selected':''"
                                        :value="role.name">{{role.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <alert :root_url="root_url" :message_class="messageClass" :message_text="messageText"
               :show_message="showMessage && !showMessageForm"></alert>
        <div class="ccp-form-row clearfix">
            <div class="col-sm-12">
                <div class="form-group row invite-form-btns">
                    <div class="col-sm-6 col-xs-6">

                        <button :disabled="disableButton" v-if="InviteUserForm" @click.prevent="validateBeforeSubmit()" class="btn-primary-lg">
                            Invite
                        </button>
                        <button v-if="!InviteUserForm" @click="inviteMore()" class="btn-primary-lg">Invite More</button>
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <button @click="BacktoInviteUsers()" class="btn-user-bordered-lg">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'send-user-invite',
        props: ['roles', 'root_url'],
        data() {
            return {
                formData: {
                    email: '',
                    role_name: 'User'
                },
                InviteUserForm: true,
                showMessage: false,
                showMessageForm: false,
                messageClass: '',
                messageText: '',
                disableButton: false,
            };
        },
        methods: {
            // disable button
            disable: function () {
                this.disableButton = true;
            },
            // enable button
            enable: function () {
                this.disableButton = false;
            },
            //handle cancel invite form
            BacktoInviteUsers() {
                this.$emit('cancel-click', {
                    InviteUser: false,
                    InvitedUsersList: true
                });

            },
            //handle invite more event
            inviteMore: function () {
                let self = this;
                self.resetModal()
                this.InviteUserForm = true;

            },
            // validation
            validateBeforeSubmit(scope) {
                let self = this;
                self.$validator.validateAll(scope).then((result) => {
                    if (result) {
                        self.sendInvite();
                        self.messageText = '';
                        self.messageClass = '';
                        self.showMessage = false;
                        return;
                    }
                    self.handleMessage(true, 0, self.errorBag.all()[0]);
                });
            },
            // reset form
            resetModal() {
                let self = this;
                self.formData = {
                    email: '',
                    role_name: 'User'
                },
                self.showMessage = false;
                self.showMessageForm = false;
                setTimeout(function () {
                    self.errorBag.items = [];
                }, 100);
            },
            //send invite to user
            sendInvite() {
                let self = this;
                self.disable();
                this.$http.post(userManagement["prefix"]+'/invite', self.formData).then(response => response.json()).then(
                    (response) => {
                        if (response.data.error_type === 1) {
                            self.showMessageForm=true;
                            self.handleMessage(true, response.data.error_type, response.message);
                            self.InviteUserForm = false;
                        } else {
                            self.showMessageForm=false;
                            self.handleMessage(true, response.data.error_type, response.message);
                        }
                        self.enable();
                    }, (error) => {
                        console.error('send invite error');
                        console.error(error);
                    },
                );
            },
        }
    };
</script>
<style scoped>
</style>