<template>
    <div id="invites" class="tab-pane fade ">
        <!-- New Invite User Starts Here -->
        <send-user-invite v-if="InviteUser" :root_url="root_url" :roles="roles"
                          @cancel-click="formResponce"></send-user-invite>
        <!-- New Invite User Ends Here -->
        <div class="invited-users-grid" v-if="InvitedUsersList">
            <div class="pull-right invite-userbtn">
                <button @click="InviteNewUserForm()" v-if="!isSearch" class="user-primary-lg">Invite Users</button>
            </div>
            <div class="clearfix"></div>
			<br>
            <div class="clearfix"></div>
            <span v-if="userDetail.length!=0">
				<div class="users-listing">

				<table class="table" width="100%" v-for="(user, userIndex) in userDetail">

					<tbody>
					<tr class="invited-users">
						<td width="35%">{{user.email}}</td>
						<td width="15%">{{user.role_name}}</td>
						<td align="right">
							<button :disabled="disableButton" @click="resendInvite(userIndex)" class="btn-primary-md">Resend Invite</button>
						</td>
						<td>
							<button :disabled="disableButton" @click="cancelInvite(userIndex)" class="btn-user-bordered-md">Cancel Invite</button>

							<table class="date-row" border="1" width="100%">
								<tbody>

								<tr class="date-row">
									<td colspan="4" align="right">
										<span>{{user.created_at}}</span>
									</td>
								</tr>

								</tbody>
							</table>

						</td>
					</tr>
					</tbody>
				</table>
			</div>
                <!-- Listing Pagination Starts Here -->
		<paginate
                v-model="page"
                :page-count="pages.total_pages"
                :click-handler="getInvitedUser"
                :prev-text="'Prev'"
                :next-text="'Next'"
                :page-link-class="'page-link'"
                :container-class="'className pagination light-theme simple-pagination pagination-list-report'">
		</paginate>
                <!-- Listing Pagination Ends Here -->
				</span>
			<div v-if="userDetail.length == 0" class="users-listing">
				<span class="no_record" v-if="search_keyword!=''">0 record matching "{{search_keyword}}"</span>
			</div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'user-invite',
        props: ['roles', 'root_url'],
        data() {
            return {
                InviteUser: false,
                InvitedUsersList: true,
                userDetail: [],
                userDetailBackup: [],
                pages: [],
                param: {},
                page: 1,
                isSearch: false,
                showMessage: false,
                search_keyword:'',
                messageClass: '',
                messageText: '',
                disableButton: false,
            }
        },
        mounted() {
            let self = this;
            //cach event for user.js emit variable globalSearch
            window.EventBus.$on('globalSearch', (e) => {
                self.search_keyword=e.search_keyword
                self.submit();
            });
        },
        methods: {
            // disable button
            disable: function () {
                this.disableButton = true;
            },
            // enable button
            enable: function () {
                this.disableButton = false;
            },
            //get all invited user list
            getInvitedUser() {
                let self = this;
                self.showNoRecordFound = false;
                let url = userManagement["prefix"]+'/get-user-invitations';
                let params = {
                    page: self.page,
                    limit:self.perPageCount,
                };
                if (self.isSearch) {
                    params.q = encodeURIComponent(self.search_keyword);
                }
                self.$http.get(url, {params: params}).then(response => {

                    if (response.data.data.length > 0) {
                    let responseData = response.data.data;
                    self.pages = response.data.pages;
                    self.userDetail = responseData;
                        //total records only when search Call true
                        if (self.isSearch) {
                            window.EventBus.$emit('totalRecordsInvite', {
                                record: this.pages.total_records,
                            });
                        }
                    if (!self.userDetail.length) {
                        self.showNoRecordFound = true;
                    }
                    }
                    else {
                        self.userDetail=[];
                        //total records only when search Call true
                        if (self.isSearch) {
                            window.EventBus.$emit('totalRecordsInvite', {
                                record: 0,
                            });
                        }
                    }
                }).catch(error => {
                });
            },
            //resend invitee using api
            resendInvite(index) {
                let self = this;
                self.disable();
                let params = {
                    email: self.userDetail[index].email,
                    role_name: self.userDetail[index].role_name,
                };
                this.$http.post(userManagement["prefix"]+'/resend-invite', params).then(response => response.json()).then(
                    (response) => {
                        self.enable();
                        if (response.data.error_type === 1) {
                            //need to implement in improvement
                            //self.handleMessage(true, response.data.error_type, response.message);

                        } else {
                            // self.handleMessage(true, response.data.error_type, response.message);
                        }
                    }, (error) => {
                        self.enable();
                        console.error('resend invite error');
                        console.error(error);
                    },
                );
            },
            //cancel|delete invitee from list using api
            cancelInvite(index) {
                let self = this;
                self.disable();
                let id = self.userDetail[index].id
                this.$http.delete(userManagement["prefix"]+'/cancel-invite' + '/' + id).then(response => response.json()).then(
                    (response) => {
                        self.enable();
                        if (response.success) {
                            self.getInvitedUser();
                            //need to implement in improvement
                            //self.handleMessage(true, 1, response.message);
                        } else {
                            //  self.handleMessage(true,0, response.message);
                        }
                    }, (error) => {
                        self.enable();
                        console.error('cancel invite error');
                        console.error(error);
                    },
                );
            },
            //cach event for send-user-invite component
            formResponce(e) {
                let self=this;
                self.getInvitedUser();
                self.InviteUser = e.InviteUser;
                self.InvitedUsersList = e.InvitedUsersList;

            },
            //handle invite user click for open form
            InviteNewUserForm: function () {
                let self=this;
                self.InviteUser = true;
                self.InvitedUsersList = false;
            },
            //searching on enter press
            submit() {
                let self = this;
                self.isSearch = false;
                if (self.search_keyword.length != 0) {
                    self.isSearch = true;
                }
                self.getInvitedUser();
            }

        }
    };
</script>
