<template>
    <div id="RequestUsers" class="tab-pane fade">
        <!-- Do not remove will show message in future improvement -->
        <!--<alert :root_url="root_url" :show_message="showMessage" :message_class="messageClass" :message_text="messageText"></alert>-->
        <div class="users-listing requested-users" v-if="userRequests.length > 0">
            <table v-for="userRequest in userRequests" class="table" border="0">
                <tbody>
                <tr class="requested-users">
                    <td>
                        <div class="username">{{(userRequest.user !== null)?userRequest.user.first_name:''}} {{(userRequest.user !== null)?userRequest.user.last_name:''}}</div>
                        <table width="100%" cellpadding="0" class="user-data-table">
                            <tbody>
                                <tr>
                                    <td class="user-title">{{(userRequest.user !== null && userRequest.user.hasOwnProperty('job_title') && userRequest.user.job_title !== null && userRequest.user.job_title.hasOwnProperty('title') && userRequest.user.job_title.title !== null)?userRequest.user.job_title.title:''}}</td>
                                    <td class="email">{{(userRequest.user !== null)?userRequest.user.email:''}}</td>
                                    <td class="phn">{{(userRequest.user !== null)?userRequest.user.phone:''}}</td>
                                    <td align="right" class="user-role col-right">
                                        <button :disabled="disableButton" class="btn-primary-md" @click="approve(userRequest)">Approve</button>
                                    </td>
                                    <td class="col-right-l" align="right">
                                        <button :disabled="disableButton" class="btn-user-bordered-md"  @click="reject(userRequest)">Reject</button>
                                    </td>
                                </tr>
                                <tr class="date-row">
                                    <td colspan="5" align="right">
                                        <span>{{(userRequest.user !== null)?userRequest.user.created_at:'' | format}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div v-if="userRequests.length == 0" class="users-listing">
            <span class="no_record" v-if="search_keyword!=''">0 record matching "{{search_keyword}}"</span>
        </div>
        <!-- Listing Pagination Starts Here -->
        <paginate
                v-if="userRequests.length > 0"
                v-model="page"
                :page-count="pages.total_pages"
                :click-handler="getUserRequests"
                :prev-text="'Prev'"
                :next-text="'Next'"
                :page-link-class="'page-link'"
                :container-class="'className pagination light-theme simple-pagination pagination-list-report'">
        </paginate>
        <!-- Listing Pagination Ends Here -->
    </div>
</template>
<script>
    export default {
        name: "user-request",
        props: ['root_url'],
        data() {
            return {
                userRequests: [],
                pages: [],
                page: 1,
                search_keyword: "",
                isSearch: false,
                showMessage: false,
                messageClass: '',
                messageText: '',
                disableButton: false,
            };
        },
        mounted() {
            //cach event for user.js emit variable globalSearch
            window.EventBus.$on('globalSearch', (e) => {
                this.search_keyword=e.search_keyword
                this.submit();
            });
        },
        methods: {
            // disable button
            disable: function () {
                this.disableButton = true;
            },
            // enable button
            enable: function () {
                this.disableButton = false;
            },
            //set user request to approve
            approve(data){
                this.resetMessage();
                this.disable();
                data.status = 1;
                this.updateUserRequest(data);
            },
            //set user request to reject
            reject(data){
                this.resetMessage();
                this.disable();
                data.status = 0;
                this.updateUserRequest(data);
            },
            //update user requests
            updateUserRequest(data) {
                this.$http.post(userManagement["prefix"]+"/update-user-request", data).then(response => response.json()).then((response) => {
                    this.handleMessage(true, response.data.error_type, response.message);
                    this.enable();
                    this.getUserRequests();
                }).catch(error => {
                    console.error("error users request post update response");
                    console.error(error);
                });
            },
            // reset messages
            resetMessage(){
                this.showMessage = false;
                this.messageClass = '';
                this.messageText = '';
            },
            // get all list of user requests
            getUserRequests() {
                let params = {
                    page: this.page,
                    count:this.perPageCount,
                };
                if (this.isSearch) {
                    params.q = encodeURIComponent(this.search_keyword);
                }
                this.$http.post(userManagement["prefix"]+"/get-users-requests", params).then(response => response.json()).then((response) => {
                    window.EventBus.$emit('updateUserListing',{});
                    if (response && response.data.length > 0) {
                        this.userRequests = response.data;
                        this.pages = response.pages;
                        //total records only when search Call true
                        if (this.isSearch) {
                            window.EventBus.$emit('totalRecordsRequest', {
                                record: this.pages.total_records,
                            });
                        }
                    }
                    else {
                        this.userRequests = [];
                        //total records only when search Call true
                        if (this.isSearch) {
                            window.EventBus.$emit('totalRecordsRequest', {
                                record: 0,
                            });
                        }
                    }

                }).catch(error => {
                    console.error("error users request post response");
                    console.error(error);
                });
            },
            //searching on enter press
            submit() {
                this.isSearch = false;
                if (this.search_keyword.length != 0) {
                    this.isSearch = true;
                }
                this.getUserRequests();

            }

        }
    };
</script>
