<template>
    <div id="allUsers" class="tab-pane fade in active">

        <div v-if="userDetail.length!=0">
		<div class="users-listing">
			<table class="table" border="0">
				<tbody v-for="(user, userIndex) in userDetail">
				<tr class="all-users" >
					<td class="listUsers">
						<div class="username">{{user.first_name+' '+user.last_name}}</div>
						<table class="user-data-table" width="100%" cellpadding="0">
							<tbody>
							<tr>
								<td class="user-title">{{(user.job_title !== null)?user.job_title.title:''}}</td>
								<td class="email">{{user.email}}</td>
								<td class="phn">{{user.phone}}</td>
								<td align="left" class="user-role custom-width">
									<select v-if="user.id==loggedInId" class="disabled form-control ccp-selectbox">
										<option v-if="user.role[0].name==role.name"  v-for="(role, roleIndex) in roles"
                                                :selected="user.role[0].name==role.name ? 'selected':''"
                                                :value="role.name">{{role.name}}</option>
									</select>
									<select v-if="user.id!=loggedInId" class="form-control ccp-selectbox"
                                            v-model="userDetail[userIndex].role[0].name">
										<option v-for="(role, roleIndex) in roles"
                                                :selected="user.role[0].name==role.name ? 'selected':''"
                                                :value="role.name">{{role.name}}</option>
									</select>
								</td>

								<td align="center" class="custom-width">
                                                    <span class="checkbox checkbox-primary">
                                                      <input v-if="user.id==loggedInId" :id="'active'+userIndex" name="active"
															 disabled type="checkbox"   v-model="LoggedInUser"
															 :true-value="1" :false-value="0"
															 class="custom-control-input">
														<input v-if="user.id!=loggedInId"
															   v-model="userDetail[userIndex].status" :id="'active'+userIndex"
															   name="active" type="checkbox"
															   :true-value="1" :false-value="0"
															   class="custom-control-input">
                                                      <label :for="'active'+userIndex">Active</label>
                                                    </span>
								</td>
							</tr>
							<tr>
							<tr class="action-row" v-if="userDetailBackup[userIndex].role[0].name!=user.role[0].name || userDetailBackup[userIndex].status!=userDetail[userIndex].status">
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td colspan="">
									<button class="user-btn user-primary" @click="updateRole(userIndex)">Save</button>
								</td>
								<td><button class="user-btn user-bordered pull-right" @click="resetRole(userIndex)">Cancel</button></td></tr>

							</tbody>
						</table>

					</td>
					<td  colspan="5" class="col-notification">
						<alert  v-if="msg==userIndex" :root_url="root_url" :message_class="messageClass"
								:message_text="messageText"
								:show_message="showMessage"></alert>
					</td>
				 </tr>
				</tbody>

			</table>


		</div>

		<paginate
                v-model="page"
                :page-count="pages.total_pages"
                :click-handler="getUser"
                :prev-text="'Prev'"
                :next-text="'Next'"
                :page-link-class="'page-link'"
                :container-class="'className pagination light-theme simple-pagination pagination-list-report'">
		</paginate>
            <!-- Listing Pagination Ends Here -->
	</div>
		<div v-if="userDetail.length == 0" class="users-listing">
			<span class="no_record" v-if="search_keyword!=''">0 record matching "{{search_keyword}}"</span>
		</div>
    </div>
</template>
<script>
    export default {
        name: 'user-listing',
        props: ['root_url'],
        data() {
            return {
                userDetail: [],
                userDetailBackup: [],
                msg: [],
                LoggedInUser:1,
                roles: [],
                pages: [],
                param: {},
                page: 1,
                loggedInId: '',
                search_keyword: '',
                isSearch: false,
                showMessage: false,
                messageClass: '',
                messageText: ''
            }
        },
        mounted() {
            let self = this;
            //cach event for user.js emit variable globalSearch
            window.EventBus.$on('globalSearch', (e) => {
                self.search_keyword=e.search_keyword
                self.submit();
            });
            //cach event for userListing
            window.EventBus.$on('userListing', (e) => {
                self.search_keyword=e.search_keyword
                self.submit();
            });
        },
        methods: {
            //get all user records
            getUser() {
                let self = this;
                self.showNoRecordFound = false;
                let url = userManagement["prefix"]+'/get-user-list';
                let params = {
                    page: self.page,
                    count: self.perPageCount
                };

                if (self.isSearch) {
                    params.q = encodeURIComponent(self.search_keyword);
                }
                self.$http.get(url, {params: params}).then(response => {
                    if (response.data.users.data.length > 0) {
                    let responseData = response.data.users.data;
                    self.pages = response.data.users.pages;
                    self.userDetailBackup = JSON.parse(JSON.stringify(responseData));
                    self.userDetail = responseData;
                    self.roles = response.data.roles.data;
                    self.loggedInId = response.data.logged_in_user_id;
                    window.EventBus.$emit('userRoles', {
                        'roles': self.roles,
                    });
                    //total records only when search Call true
                        if (self.isSearch) {
                            window.EventBus.$emit('totalRecordsUser', {
                                record: this.pages.total_records,
                            });
                        }
                    }
                    else {
                        self.userDetail=[];
                        //total records only when search Call true
                        if (self.isSearch) {
                            window.EventBus.$emit('totalRecordsUser', {
                                record: 0,
                            });
                        }
                    }
                    if (!self.userDetail.length) {

                        self.showNoRecordFound = true;
                    }
                }).catch(error => {
                });
            },
            //update role  using api
          updateRole(index) {
                let self = this;
                self.param.role_name = [];
                self.param.status;
                self.param.role_name.push(self.userDetail[index].role[0].name);
                self.param.status = (self.userDetail[index].status ? 1 : 0);
                self.param.id = self.userDetail[index].id;
                this.$http.patch(userManagement["prefix"]+'/update-user-profile', self.param).then(response => response.json(),index).then(
                    (response) => {
                        if (response.success) {
                          self.msg=index;
                             self.handleMessage(true, '', response.message,response.status_code);
                            setTimeout(function () {
                                self.userDetailBackup[index].role[0].name = self.userDetail[index].role[0].name;
                                self.userDetailBackup[index].status = self.userDetail[index].status;
                                self.msg=null;
                                self.reset();
                            }, 3000);
                        }
                    }, (error) => {
                        console.error('update profile from user listing error');
                        console.error(error);
                    },
                );
            },
            //reset role on cancel
            resetRole(index) {
                let self = this;
                self.userDetail[index].role[0].name = self.userDetailBackup[index].role[0].name;
                self.userDetail[index].status = self.userDetailBackup[index].status;
            },
            reset(){
                let self = this;
                self.showMessage= false;
                self.messageClass= '';
                self.messageText='';
            },
            //searching on enter press
            submit() {
                let self = this;
                self.isSearch = false;
                if (self.search_keyword.length != 0) {
                    self.isSearch = true;
                }
                self.getUser();
            }
        }
    }
</script>
