@import "./../../../scss/ccp-app.scss";

@font-face {
  font-family: 'encode_sanssemibold';
  src: url('~/../fonts/encodesans-semibold/encodesans-semibold.8bda89cd-webfont.woff2') format('woff2'),
  url('~/../fonts/encodesans-semibold/encodesans-semibold.8bda89cd-webfont.woff') format('woff'),
  url('~/../fonts/encodesans-semibold/encodesans-semibold.8bda89cd-webfont.ttf') format('truetype'),
  url('~/../fonts/encodesans-semibold/encodesans-semibold.8bda89cd-webfont.svg#encode_sanssemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'encode_sansregular';
  src: url('~/../fonts/encodesans-regular/encodesans-regular.48485e9e-webfont.woff2') format('woff2'),
  url('~/../fonts/encodesans-regular/encodesans-regular.48485e9e-webfont.woff') format('woff'),
  url('~/../fonts/encodesans-regular/encodesans-regular.48485e9e-webfont.ttf') format('truetype'),
  url('~/../fonts/encodesans-regular/encodesans-regular.48485e9e-webfont.svg#encode_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'encode_sansmedium';
  src: url('~/../fonts/encodesans-medium/encodesans-medium.d9ea512c-webfont.woff2') format('woff2'),
  url('~/../fonts/encodesans-medium/encodesans-medium.d9ea512c-webfont.woff') format('woff'),
  url('~/../fonts/encodesans-medium/encodesans-medium.d9ea512c-webfont.ttf') format('truetype'),
  url('~/../fonts/encodesans-medium/encodesans-medium.d9ea512c-webfont.svg#encode_sansmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'encode_sans_expandedregular';
  src: url('~/../fonts/encodesans-expended-regular/encodesansexpanded-regular-webfont.woff2') format('woff2'),
  url('~/../fonts/encodesans-expended-regular/encodesansexpanded-regular-webfont.woff') format('woff'),
  url('~/../fonts/encodesans-expended-regular/encodesansexpanded-regular-webfont.ttf') format('truetype'),
  url('~/../fonts/encodesans-expended-regular/encodesansexpanded-regular-webfont.svg#encode_sans_expandedregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'encode_sanslight';
  src: url('~/../fonts/encodesans-light/encodesans-light-webfont.woff2') format('woff2'),
  url('~/../fonts/encodesans-light/encodesans-light-webfont.woff') format('woff'),
  url('~/../fonts/encodesans-light/encodesans-light-webfont.ttf') format('truetype'),
  url('~/../fonts/encodesans-light/encodesans-light-webfont.svg#encode_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;

}








/*Page Variables Starts Here*/


$color-blck :#231f20;
$color-grey :#8a8a8a;
$color-border :#c2c2c2;
$color-active :#0e99d7;
$regularFont : 'encode_sansregular';
$lightFont : 'encode_sanslight';
$MediumFont: 'encode_sansmedium';
$pr-0:0;
$pl-0:0;
$marginL-1:20px;

@mixin PageHeadingStyle{
  font-size:26px;
  line-height:41px;
}

@mixin headingsAndLabels{
  font-size:16px;
}

@mixin BrowseFile{
  position: relative;
  left:6px;
  top:10px;
}

@mixin LightPara{
  font-family: $lightFont;
  color:$color-blck;
  font-size: 16px;
  display: table;
  line-height: 25px;
  margin-bottom: 30px;

}

@mixin sku{
  color: $color-grey;
  font-size: 15px;
  font-family: $regularFont;
}

@mixin anchor{
  font-size: 15px;
  font-family: $MediumFont;
}



//$style1: 100%, 70px, #fo6d06;
//$style2: (background: #bada55, width: 100%, height: 100px);
//
//@mixin box($width, $height, $background) {
//  width: $width;
//  height: $height;
//  background-color: $background;
//}

/*Page Variables Ends Here*/


/* All Page Scss*/

.pl-0{
  padding-left:0;
}
.pr-0{
  padding-right:0;
}

.row{
  max-width: none;
  margin-left: -15px;
  margin-right: -15px;
}

/*Headings of pages*/
.page-heading{
  margin-bottom:10px;
  text-align:left;

  span{
    @include PageHeadingStyle;
    color:$color-blck;
    font-family:$regularFont;
    // @include box($style1...);
  }
}

/*Light sm Paragraphs*/
.light-para{
  @include LightPara;
  margin-bottom:30px;
}
/*------------------*/


/*All Labels*/

.ccp-label{
  @include headingsAndLabels;
  color:$color-blck;
  font-family:$regularFont;
}

/*Buttons*/
@mixin borderedBtn {
  background: none;
  color: #0e99d7;
  border: #808e97 1px solid;
  font-family:$regularFont;
  font-weight: normal;
}

.pr-0{
  padding-right:$pr-0;
}

.btn-primary-lg{
  height: 41px;
  width: 100%;
  border-radius: 2px;
  font-family: 'encode_sansregular';
  color: #FFF;
  font-size: 16px;
  background: #0e99d7;
  border:0 none;
}

.btn-user-bordered-lg{
  min-width: 100%;
  height: 41px;
  font-family: 'encode_sansregular';
  color: #0e99d7;
  font-size: 15px;
  border-radius: 2px;
  border: #808e97 1px solid;
  background: none;
}

.main-UseAddress{
  margin-top:40px;
  margin-bottom:60px;
}

fieldset{
  border:0 none;
  padding:0;
  legend{
    border:0 none;
  }
}
.form-heading{
  font-family: $MediumFont;
  font-size:22px;
  color:$color-blck;
  margin-top:30px;
}
.ccp-txtbox {
  height: 41px;
  padding: 0 10px;
  border-radius: 2px;
  border: 1px solid #ccc;
  font-family: $MediumFont;
}


.form-label{
  font-family:$MediumFont;
  font-size:15px;
  color:$color-blck;
  font-weight: normal;
  padding-right:0;
  line-height:41px;
  text-align:left;
}

.center-txt{
  text-align:center;
}

.f-required{
  &::after{

  }
}

.ccp-form-row{
  >div{
    padding-left:0;
    padding-right:0;
  }
}

.all-notifications {
  >div {
    color: #FFF;
    font-family: 'encode_sansregular';
    line-height: 38px;
    padding: 0px 15px;
    font-size: 14px;
    height: 36px;
    margin-bottom: 15px;
    i {
      margin-right: 10px;
      vertical-align: middle;
    }
    img {
      margin-right: 10px;
      vertical-align: middle;
    }
  }
}

.ccp-form-success {
  background: #3c763c;
}
.ccp-form-error {
  background: #e4433f;
}


.checkbox {
  padding-left: 20px;
  label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
    left: 20px;
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 0px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    }
    &::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555;
      outline:none;
    }
  }
  input[type="checkbox"] {
    opacity: 0;
    &:focus {
      + {
        label {
          &::before {
            outline: thin dotted;
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
          }
        }
      }
    }
    &:disabled {
      + {
        label {
          opacity: 0.65;
          &::before {
            background-color: #eeeeee;
            cursor: not-allowed;
          }
        }
      }
    }
  }
}
.checkbox.checkbox-circle {
  label {
    &::before {
      border-radius: 50%;
    }
  }
}
.checkbox.checkbox-inline {
  margin-top: 0;
}
input[type="checkbox"] {
  &:focus {
    outline: 0;
  }
}
.checkbox-primary {
  input[type="checkbox"] {
    &:checked {
      + {
        label {
          &::before {
            background: url("~/../img/active-chk.png");
            box-shadow: none;
            width: 23px;
            height: 22px;
            outline:none;
          }
          &::after {
            color: #fff;
          }
        }
      }
    }
  }
}






/*-------------------------*/



/*Page Css Starts Here */

.catalogBtns{
  margin:25px 0;
  .form-group{
    width:100%;
  }
}


.active{
  @include anchor;
  text-decoration:none;
  color: $color-active;
  &::hover{
    text-decoration:none;
    color:$color-active;
  }
}
.inactive {
  @include anchor;
  text-decoration:none;
  color: $color-grey;
  &::hover{
    text-decoration:none;
    color:$color-active;
  }
}
.catlog-sku {
  @include sku;

}
.center-vertical {
  height: 105px;
  display: table-cell;
  vertical-align: middle;
}

.catlog-description {
  font-family: $regularFont;
  font-size: 14.6px;
  line-height: 20px;
  color: $color-blck;
  margin-top: 4px;
  /*@include LightPara;*/
}
.catlog-detail {
  max-width: 85%;
  position: relative;
  float: left;
  margin-right: 0%;
}
.catlog-price {
  float: right;
  font-size: 32px;
  font-family: $MediumFont;
  color: $color-blck;
  margin-top: 1px;
  position: relative;
  right: 10px;
}
.catlog-image {
  margin: 7px auto 0px;
  max-width: 100%;
}
select.form-control.ccp-providor {
  height: 37px;
  border-radius: 0.25rem;
  max-width: 44%;
  float: left;
  margin-right: 20px;
  padding-left: 8px;
  border-color: $color-border;
}

.search-category
{
  input {
    width: 100%;
    background: url(~/../img/search-ico.png) no-repeat 8px center;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none;
    border: $color-border 1px solid;
    padding-left: 43px;
    font-family: $regularFont;
    color: #929292;
    border-radius: 0.25rem;
    height: 37px;
  }
}
.filter {
  margin-bottom: 20px;
  margin-top: 20px;
}
.sel-all {
  label {
    font-family: $MediumFont;
    color: $color-blck;
    padding-left: 20px;
    @include headingsAndLabels;
  }
}
.seperator {
  font-size: 17px;
  color: #231f20;
  margin-left: 6px;
  margin-right: 6px;
  position: relative;
  top: -1px;

}


.select-all {
  border-bottom: 1px solid $color-border;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.restricted-filter {
  margin-top: 8px;
}
.bordered {
  clear: both;
}
.catlog-detail {
  .tab-heading {
    margin-bottom: 0px;
  }
}
.catlog-detail .tab-heading span {
  font-family: $MediumFont;
  font-size: 18px;
}
span.checkbox.checkbox-primary.sel-all {
  padding-left: 0px;
}
.select-allcheck label {
  font-family: $MediumFont;
  color: #231f20;
  padding-left: 20px;
  font-size: 16px;
}
span.checkbox.checkbox-primary.select-allcheck {
  padding-left: 0px;
}
/*Media Quries Starts Here*/

@media screen and (max-width: 600px) {
  .my-profile .main-content {
    padding-left: 0;
    padding-right: 0;
  }

  .all-notifications {
    position: relative;
    >div{
      line-height: 18px;
      padding: 1px 15px 1px 40px;
      font-size: 14px;
      height: auto;
      text-align: left;
      margin-top: 15px;

      img{
        position: absolute;
        left: 10px;
      }
    }
  }

}

@media screen and (max-width:768px){


  /*All page*/
  .light-para{
    width:100%;
    text-align: left;
    line-height: 26px;
  }
  /*All page*/

}



@media screen and (min-width:768px) and (max-width:991px){

  select.form-control.ccp-providor {
    margin-right: 10px;
  }


  .search-cat-bar{
    padding-left: 0;
  }
  .filter-dropdown-catalog{
    padding-right: 0;
  }
  .catlog-description {
    font-size: 13px;
    line-height: 17px;
    margin-top: 3px;
  }
  .catlog-detail {
    max-width: 100%;
  }
  .catlog-price {
    position: absolute;
    right: 25px;
    top: 2px;
    font-size: 26px;
  }
  .catlog-sku {
    font-size: 13px;
  }

}
@media screen and (max-width:600px){
  .catalog-image-mob {
    width: 100%;
  }
  .catlog-detail .tab-heading span {
    display: table;
    width: 230px;
    font-size: 16px;
  }
  .center-vertical span.checkbox.checkbox-primary {
    height: auto !important;
  }
  .filter-dropdown-catalog {
    padding-left: 0px;
    padding-right: 0px;
  }
  .search-cat-bar {
    padding-left: 0px;
    padding-right: 0px;
  }
  .bordered {
    padding-left: 0px;
    padding-right: 0px;
  }
  .catalog-desc-mob {
    width: 100%;
    text-align: left;
  }
  .select-all {
    clear: both;
  }
  select.form-control.ccp-providor {
    max-width: 100%;
    margin-right: 0%;
    margin-bottom: 10px;
  }

  .search-category{
    width:100%;
    input {
      width: 100%;
    }
  }

  .restricted-filter{
    a {
      font-size: 13px;
    }
  }
  .sel-all {
    label {
      font-size: 15px;
    }
  }

  .center-vertical {
    position: absolute;
    z-index: 99999;
  }
  .catlog-price {
    position: absolute;
    right: 15px;
    font-size: 24px;
  }
  .catlog-detail {
    max-width: 100%;
    margin-right: 0%;
  }
  .rest-unrest{
    padding-right: 0px;
  }
  .catlog-description {
    margin-top: 15px;
  }
  .section-catlog {
    margin: 0px !important;
  }
  .catlog-image {
    margin: 0px auto 15px;
  }
  .center-vertical {
    span.checkbox.checkbox-primary {
      height: 108px;
      display: table-cell;
      vertical-align: middle;
    }
  }
  .pl-xs-0 {
    padding-left: $pl-0;
  }
  span.checkbox.checkbox-primary.select-allcheck {
    padding-left: 0px;
    float: left;
  }
  .select-allcheck label {
    padding-left: 12px;
    font-size: 15px;
  }
  .restricted-filter {
    margin-top: 10px;
  }
}
@media screen and (min-width:992px) and (max-width:1024px){

  .catlog-detail {
    max-width: 100%;
  }
}


@media screen and (min-width:992px) and (max-width:1199px){
  select.form-control.ccp-providor {
    max-width: 43%;
  }

  .catlog-price {
    position: absolute;
    right: 25px;
    top: 2px;
    font-size: 26px;
  }
}
@media screen and (min-width:601px) and (max-width:767px) {
  .search-category input {
    width: 100%;
  }

  select.form-control.ccp-providor {
    max-width: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .center-vertical span.checkbox.checkbox-primary {
    height: auto !important;
  }
  .center-vertical {

    vertical-align: top;
  }
  span.checkbox.checkbox-primary.select-allcheck {
    height: auto;
    padding-left: 0px;
  }
  .filter {
    margin-bottom: 10px;
  }

  .catlog-detail {
    max-width: 100%;
  }
  .catlog-price {
    position: absolute;
    right: 20px;
    font-size: 26px;
    top: 2px;
  }

  .catlog-description {
    font-size: 13px;
    line-height: 17px;
  }

}
/*Media Quries Ends Here*/

/* Page Css Ends Here */



