@import '../../../../../resources/assets/scss/mixins/mixins';
@import '../../../../../resources/assets/scss/ccp-global/_global';
@import "../../../../../resources/assets/scss/ccp-app";


/*Checkbox Css Starts Here*/
.checkbox {
  padding-left: 20px;
  label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
    left: 20px;
    font-size:16px;
    font-family: $regularFont;
    color:#231f20;
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #808e97;
      border-radius: 0px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    }
    &::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555;
      outline: none;
    }
  }
  input[type="checkbox"] {
    opacity: 0;
    &:focus {
      + {
        label {
          &::before {
            outline: thin dotted;
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
          }
        }
      }
    }
    &:disabled {
      + {
        label {
          opacity: 0.65;
          &::before {
            background-color: #eeeeee;
            cursor: not-allowed;
          }
        }
      }
    }
  }
}

.checkbox.checkbox-circle {
  label {
    &::before {
      border-radius: 50%;
    }
  }
}

.checkbox.checkbox-inline {
  margin-top: 0;
}

input[type="checkbox"] {
  &:focus {
    outline: 0;
  }
}

lable:focus {
  outline: none;
}

.checkbox-primary {
  input[type="checkbox"] {
    &:checked {
      + {
        label {
          &::before {
            //background: url("'~/../img/active-chk.png");
            box-shadow: none;
            width: 23px;
            height: 22px;
            outline: none;
          }
          &::after {
            color: #fff;
          }
        }
      }
    }
  }
}


table {
  tr {
    background: #f1f4f6 !important;
    border: 0 none;
  }
  td {
    font-family: 'encode_sansregular';
    font-size: 15px;
    color: #231f20;
  }
  tr.invited-users {
    td {
      line-height: 41px;
    }
  }
}

table.table {
  >tbody {
    >tr {
      >td {
        border-top: 0 none;
        padding: 10px 25px;
      }
    }
  }
  .ccp-selectbox {
    width: 100px;
    height: 36px;
    border-radius: 0;
    border: #7a7d7f 1px solid;
    position: relative;
    left: 0;
  }
  tr.invited-users {
    td {
      padding-top: 25px;
    }
  }
  table.date-row {
    >tbody {
      >tr {
        >td {
          padding: 0;
        }
      }
    }
  }
}

table.user-data-table {
  >tbody {
    >tr {
      >td {
        padding: 0;
      }
    }
  }
  .action-row {
    button {
      margin-top: 25px;
    }
  }
}

.btn-edit{
  width:172px;
  border:#c2c2c2 1px solid;
  background:#FFF;
  color:#0e99d7;
  height:41px;
  font-family:$regularFont;

  &:hover{
    background:#0E99D7;
    color:#FFF;
  }

}

.active-role{
  @include role-active-inactive($Active);
}
.Inactive-role{
  @include role-active-inactive($InActive);
}

//.active-role,
//.Inactive-role{
//  font-family: $SemiBoldFont;
//}

/**Checkbox Css Ends Here */
/*Fancy Browse*/
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
  }
}



.btn {
  @include borderedBtn;
}

.user-primary-lg {
  border: 0 none;
  height: 41px;
  width: 200px;
  border-radius: 2px;
  font-family: 'encode_sansregular';
  color: #FFF;
  font-size: 16px;
  background: #0e99d7 //url(../../../images/invite-plus.png) no-repeat 32px center;

}

.btn-primary-lg {
  height: 41px;
  width: 100%;
  border-radius: 2px;
  font-family: 'encode_sansregular';
  color: #FFF;
  font-size: 16px;
  background: #0e99d7;
  border: 0 none;
}

.btn-user-bordered-lg {
  min-width: 100%;
  height: 41px;
  font-family: 'encode_sansregular';
  color: #0e99d7;
  font-size: 15px;
  border-radius: 2px;
  border: #808e97 1px solid;
  background: none;
}

.ccp-txtbox {
  height: 41px;
  padding: 0 10px;
  border-radius: 2px;
  border: 1px solid #ccc;
  font-family: $lightFont;
}

.form-label {
  font-family: $regularFont;
  font-size: 15px;
  color: $color-blck;
  font-weight: normal;
  padding-right: 0;
  line-height: 41px;
  text-align: left;
}
.form-label.center-txt {
  text-align: left;
}

.ccp-form-success {
  background: #3c763c;
}

div.ccp-form-success-done {
  background:#dff0d8;
  color:#3c763d ;
}

.ccp-form-error {
  background: #e4433f;
}


select.form-control.ccp-txtbox {
  -webkit-appearance: none;
  appearance: none;
 background: url('/../../../img/global/arrow-dropdown.png') no-repeat 95% center;
}
select::-ms-expand {
  display: none;
}




/*-------------------------*/
/*Page Css Starts Here */

.main-content.container-cus{
  width:100%;
}
.form-top-bar{
  border-bottom:#e6e6e6 1px solid;
  margin-bottom:-20px;
  padding-bottom: 20px;
}
fieldset{
  border: none;
  padding:1.50em 0 0.75em;
}

.page-md-heading{
  margin-bottom:0;
}

.pl-0{
  padding-left:0;
}
.pr-0{
  padding-right:0;
}
.plr-0{
  padding-left:0;
  padding-right:0;
}

.input-group{
  width:100%;
}

.checkbox{
  label{
    left:0px;
  }
}

.cus-section{
  margin-top:35px;
  margin-bottom:35px;
  border-bottom:#e6e6e6 1px solid;
}
.form-label{
  text-align:left;

}

.col-txtbox{
  float:right;
}

.cus-section{
  >.row:nth-child(1){
    margin-bottom:0;
  }
  .row{
  margin-bottom: 20px;
  }
}

.form-action-btns{
  margin:60px 0 50px 0;
}


table.table {
  tr.invited-users{
    border-bottom:#FFF 20px solid;
    td{
      padding-bottom:22px;
    }
  }
}



.checkbox-primary {
  padding-left: 0px;
  top: -10px;
  text-align:right;
}






.UserAccountChk{
  span {
    float: left;
    line-height: 30px;
  }
}
.UserAccountChk{
  .ccp-label{
    position: relative;
    left:35px;
  }
}

.formbtns-custom{
   margin-top:25px;
}


.notify-user{
  border-top:#e0e0e0 2px solid;
  margin-top:30px;
  padding-top:30px;
}

.all-notifications  {
> .ccp-form-info{
  height: auto;
  padding: 4px 10px !important;
  line-height: 17px;
}
}






/*Media Quries Starts Here*/

/*All Page css*/
@media screen and (max-width: 1099px) {
  .users-listing {
    overflow-x: scroll;
  }
  #allUsers {
    table {
      width: 900px;
    }
  }
  #RequestUsers {
    table {
      width: 900px;
    }
  }
}
/*All Page css ends*/

@media screen and (max-width: 600px) {
  .my-profile .main-content {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 767px) {

  .cus-section {
    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom:25px;
  }
  .form-action-btns {
    margin:30px 0 15px 0;
  }

  .form-top-bar{
    padding-bottom:0;
  }
  .ccp-txtbox{
    margin-bottom:10px;
  }
  .cus-section .row {
    margin-bottom: 0px;
  }
  .pr-0,.form-label{
    padding:0;
  }
  .checkbox.checkbox-primary{
    padding-left:20px;
      text-align:left;
      right:0;
  }
  .checkbox{
    label{
      left:0 !important;
    }
  }


  .UserAccountChk{
    span.checkbox.checkbox-primary{
      left:-20px;
    }
  }

  .checkbox {
    label {
      left: 40px;
    }
  }
  .ccp-label {
    display: table;
    text-align: left;
    font-size: 15px;
  }
}

@media screen and (max-width: 992px) {
  .pr-0,.form-label{
    margin-left:0;
  }
}

@media screen and (min-width:992px){
  .form-label{
    height:41px;
    .v-center-lbl {
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
    }
  }

}

@media screen and (min-width: 768px) and (max-width:992px) {
  .checkbox-primary{
    top:18px;
  }
  .page-sm-heading{
    position:relative;
    top:-12px;
  }
}


@media screen and (max-width: 600px){
 .all-notifications  {
 > div{
   position: relative;
  line-height: 18px;
  padding: 1px 15px 1px 40px;
  font-size: 14px;
  height: auto;
  text-align: left;
  margin-top: 15px;
  }
   img{
     position: absolute;
     left: 10px;
   }
 }



}


/*Media Quries Ends Here*/

/*Page Css Ends Here*/
