.payment-method-dd  .radio-inline {
    font-family: "encode_sansregular";
    font-size: 15px;
    color: #231f20;
    font-weight: normal;
    padding-right: 0;
    margin: 10px 40px 0px 0px;
}

.mt15 {
    margin-top: 15px;
}

.asterik {
    color: #0e99d7;
    font-family: "encode_sansmedium";
    position: relative;
}

.has-error .form-control {
    border-color: #e54340 !important;
}


@media screen and (max-width: 1024px) {
    .payment-method-dd .radio-inline {
        float: left;
        width: 50%;
        margin: 0px;
        text-align: left;
    }

    .payment-method-dd label.long_text {
        line-height: 20px;
    }
}


@media screen and (max-width: 767px) {
    .payment-method-dd label.long_text {
        line-height: 41px;
    }
}