<template>
    <div >
        <div v-if="showNoRecordFound" >
            <div   v-if="creditCardDetail.length==0 && ((netTermDetail.hasOwnProperty('id') && netTermDetail.id == 0) || netTermDetail.length==0) && showNetTermPendingMessage==false" class="all-payment-methods">

                <!-- Page Heading Starts Here -->
                <div class="page-heading">
                    <span>Payment Method</span>
                </div>
                <!-- Page Heading Starts Here -->

                <!-- Heading Slogan Starts Here -->
                <span class="form-slogan">
            There is no active payment method for your account. Please add a payment method by clicking the Add Payment Method button below.
            </span>
                <!-- Heading Slogan Ends Here -->

                <!-- Change Payment Method Starts Here -->
                <div class="formbtns-custom">
                    <button class="btn btn-primary payment-method-button" @click="showPaymentMethodForm('default')" >Add Payment Method</button>
                </div>
                <!-- Change Payment Method Ends Here -->
            </div>
            <!-- Payment Method Details Starts Here -->
            <div   v-if="creditCardDetail.length>0 || (netTermDetail.hasOwnProperty('id') && netTermDetail.id > 0) || netTermDetail.length>0 || showNetTermPendingMessage" class="all-payment-methods">

                <!-- Page Heading Starts Here -->
                <div class="page-heading">
                    <span>Payment Method</span>
                </div>
                <!-- Page Heading Starts Here -->

                <!-- Heading Slogan Starts Here -->
                <span class="form-slogan">
             Note that the payment method active at the time of invoicing will be used for all cloud service charges incured during that billing cycle.
            </span>
                <!-- Heading Slogan Ends Here -->

                <!-- Current Payment Method Starts Here -->

                <!-- Page Heading Starts Here -->
                <div class="page-heading">
                    <span>Current Payment Method</span>
                </div>
                <!-- Page Heading Starts Here -->

                <!-- Current Payment Method Details Starts Here -->
                <div v-if="creditCardDetail.length!=0 && showCreditCard" class="current-payment-method-details">

                    <div class="page-md-heading">
                        <span>Credit Card Information</span>
                    </div>

                    <div class="detail-lbl">{{creditCardDetail[0].name}}</div>
                    <div class="detail-lbl">{{creditCardDetail[0].number}}</div>
                    <div class="detail-lbl">{{creditCardDetail[0].month|monthFormat}}, {{creditCardDetail[0].year}}</div>
                    <div v-if="billingAddress.length!=0" class="detail-address">{{billingAddress.address_line_1}}</div>
                    <div v-if="billingAddress.length!=0" class="detail-address">
                        {{billingAddress.city}},{{billingAddress.state.name}},{{billingAddress.zip_code}}
                    </div>
                </div>

                <!-- Current Payment Method Details Starts Here -->
                <div v-if="(netTermDetail.hasOwnProperty('id') && netTermDetail.id > 0) || (netTermDetail.length!=0 && netTermDetail.length!= undefined)">
                    <div class="current-payment-method-details">

                        <div class="detail-lbl">Net Terms Account</div>
                        <div class="detail-lbl">AB#</div>
                        <div v-if="billingAddress.length!=0" class="detail-address">{{billingAddress.address_line_1}}</div>
                        <div v-if="billingAddress.length!=0" class="detail-address">
                            {{billingAddress.city}},{{billingAddress.state.name}},{{billingAddress.zip_code}}
                        </div>

                    </div>
                    <!-- Current Payment Method Details Ends Here -->

                    <!-- Request Change Starts Here -->
                    <div class="formbtns-custom">
                        <a class="btn btn-primary " @click="showPaymentMethodForm('onlyNetTerm')">Request Change</a>
                    </div>
                </div>
                <!-- Request Change Ends Here -->


                <!-- Change Payment Method Starts Here -->
                <div v-if="(netTermDetail.hasOwnProperty('id') && netTermDetail.id == 0) || netTermDetail.length==0" class="formbtns-custom">
                    <a class="btn btn-primary" @click="showPaymentMethodForm('onlyCreditCard')">Change Payment Method</a>
                </div>
                <!-- Change Payment Method Ends Here -->

                <!-- Current Payment Method Ends Here -->


                <!-- Notification Messages Starts Here -->
                <div class="notify-user payment-method-button" v-if="showNetTermPendingMessage">

                    <div class="col-sm-7">
                        <div class="row">
                            <div class="all-notifications">
                                <div class="ccp-form-info">
                                    <p>
                                        A request for Net Terms is pending for this account. Until the request has been
                                        processed, please create a credit card for all CCP purchases.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Notification Messages Ends Here -->
            </div>
            <!-- Payment Method Page Ends Here -->
        </div>
    </div>
</template>
<script>
    export default {
        name: 'payment-method-listing',
        props: ['root_url'],
        data() {
            return {
                creditCardDetail: [],
                netTermDetail: {'id':0},
                showCreditCard: false,
                billingAddress: [],
                showNetTermPendingMessage: false,
                showNoRecordFound:false,
                dropDownCondition:'default'
            }
        },
        mounted() {
            this.getPymentDetail();
        },
        methods: {
            //get all user records
            getPymentDetail() {
                let self = this;
                let url = 'payments/detail';

                this.$http.get(url).then(response => response.json()).then((response) => {
                    if (response && response.credit_card.data.length > 0) {
                        self.creditCardDetail = response.credit_card.data;
                        self.showCreditCard = true;
                    }
                    if (response && response.billing_address.data.length > 0) {
                        self.billingAddress = response.billing_address.data[0];
                    }
                    if (response && response.net_term.record_exist) {
                        self.netTermDetail = response.net_term.active_net_term;
                        self.showCreditCard = response.net_term.show_credit_card;
                        self.showNetTermPendingMessage = response.net_term.pending_status;

                    }
                    self.showNoRecordFound=true;

                }).catch(error => {
                    console.error("error payment method detail");
                    console.error(error);
                });
            },
            //handle cancel invite form
            showPaymentMethodForm(val) {
                let self=this;
                self.dropDownCondition=val;
                if(self.showNetTermPendingMessage==false && val=='onlyCreditCard'){
                    self.dropDownCondition='default';
                }
                window.EventBus.$emit('showPaymentForm', {
                    'dropDownCondition':self.dropDownCondition
                });

            },

        }
    }
</script>
