<template>
    <div>

        <!-- Add Payment Method Starts Here -->
        <div class="add-payment-method">
            <!-- Page Heading Starts Here -->
            <div class="page-heading">
                <span>Add Payment Method</span>
            </div>
            <!-- Page Heading Starts Here -->

            <!-- Add Payment Method Form Starts Here -->
            <div class="row">
                <div class="col-xs-12">

                    <div class="row">
                        <div class="payment-method-dd mt15 clearfix ">

                            <div class="col-sm-11 plr-0">
                                <div class="form-group clearfix">
                                    <label for="location" class="col-sm-4 col-xs-12 form-label long_text">Choose Payment
                                        Method <span class="asterik">*</span></label>
                                    <div class="col-sm-8">
                                        <select  v-if="drop_down_condition=='default'" class="form-control ccp-txtbox" name="payment_method"  v-model="paymentMethod" >
                                            <option value="cc">Credit Card</option>
                                            <option value="nt">Net Terms</option>
                                        </select>
                                        <select v-if="drop_down_condition=='onlyCreditCard'"class=" disabled form-control ccp-txtbox" name="payment_method"  v-model="paymentMethod">
                                            <option value="cc">Credit Card</option>
                                        </select>
                                        <select v-if="drop_down_condition=='onlyNetTerm'"class="disabled form-control ccp-txtbox" name="payment_method"  v-model="paymentMethod" >
                                            <option  value="nt">Net Terms</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <hr class="pass-seperator"/>
                    <div v-if="paymentMethod=='cc'">

                        <div class="clearfix"></div>

                        <div class="row">
                            <div class="payment-method-dd mt15 clearfix">
                                <div class="col-sm-11 plr-0">
                                    <div class="form-group clearfix" :class="[errorBag.first('card_type') ? 'has-error' : '']">
                                        <label for="location" class="col-lg-1 col-md-2 col-sm-2 col-xs-12 form-label">Type<span
                                                class="asterik">*</span></label>
                                        <div class="col-lg-11 col-md-10 col-sm-10">
                                            <label class="radio-inline">
                                                <input type="radio" v-model="type" name="card_type"   ref="card_type"   value="visa" v-validate="'required'" data-vv-as="Type" @click="changeCreditCardtype('visa')"> Visa
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio"   v-model="type" name="card_type"  value="mastercard" @click="changeCreditCardtype('mastercard')"> Mastercard
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" v-model="type"  name="card_type"  value="amex" @click="changeCreditCardtype('amex')"> Amex
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" v-model="type"  name="card_type"  value="discover" @click="changeCreditCardtype('discover')"> Discover
                                            </label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <!-- Choose Payment Method DropDown Ends Here -->
                        <hr class="pass-seperator"/>
                        <div class="">
                            <div class="row">
                                <div class="payment-method-dd mt15 clearfix">
                                    <div class="col-sm-11 plr-0">
                                        <div class="form-group clearfix" :class="[errorBag.first('cardName') ? 'has-error' : '']">
                                            <label for="location" class="col-sm-4 col-xs-12 form-label">Name on Card
                                                <span class="asterik">*</span></label>

                                            <div class="col-sm-8">
                                                <input type="text" id="cardName" name="cardName"
                                                       class="form-control ccp-txtbox ml-1"  v-model="cardName" v-validate="'required|cfullName'" data-vv-as="Name on Card"  />

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="payment-method-dd clearfix">
                                    <div class="col-sm-11 plr-0">
                                        <div class="form-group clearfix" :class="[errorBag.first('cardNumber') ? 'has-error' : '']">
                                            <label for="location" class="col-sm-4 col-xs-12 form-label">Card Number
                                                <span class="asterik">*</span></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="cardNumber" name="cardNumber"
                                                       class="form-control ccp-txtbox ml-1" v-model="cardNumber"  v-validate="'required|cPaymentCard:card_type'" v-mask="creditCardMask" data-vv-as="Card Number"  />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="payment-method-dd clearfix">
                                    <div class="col-sm-11 plr-0">
                                        <div class="form-group clearfix" :class="[errorBag.first('cvv') ? 'has-error' : '']">
                                            <label for="location" class="col-sm-4 col-xs-12 form-label">CVV<span
                                                    class="asterik">*</span></label>
                                            <div class="col-sm-4">
                                                <input type="text" id="cvv" name="cvv" class="form-control ccp-txtbox ml-1" v-model="cvv" v-validate="'required|cCvv:card_type'" data-vv-as="CVV" v-mask="ccvMask"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="payment-method-dd clearfix">
                                    <div class="col-sm-11 plr-0">
                                        <div class="form-group clearfix">
                                            <label for="location" class="col-sm-4 col-xs-12 form-label">Expiration Date<span
                                                    class="asterik">*</span></label>
                                            <div class="col-sm-4 col-xs-6" :class="[errorBag.first('month') ? 'has-error' : '']">
                                                <select class="form-control ccp-txtbox" name="month" id="month" v-model="month" v-validate="'required'" data-vv-as="Expiration Date">
                                                    <option value="1">01</option>
                                                    <option value="2">02</option>
                                                    <option value="3">03</option>
                                                    <option value="4">04</option>
                                                    <option value="5">05</option>
                                                    <option value="6">06</option>
                                                    <option value="7">07</option>
                                                    <option value="8">08</option>
                                                    <option value="9">09</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4 col-xs-6"  :class="[errorBag.first('year') ? 'has-error' : '']">
                                                <select class="form-control ccp-txtbox" name="year"  id="year" v-model="year" v-validate="'required'" data-vv-as="Year">
                                                    <option v-for="row in yearRange" :value="row">{{row}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="payment-method-dd clearfix">
                                    <div class="col-sm-11 plr-0">
                                        <div class="form-group  clearfix" :class="[errorBag.first('organizationName') ? 'has-error' : '']">
                                            <label for="location" class="col-sm-4 col-xs-12 form-label long_text">Organization
                                                Name <span class="asterik">*</span></label>

                                            <div class="col-sm-8">
                                                <input id="organizationName" type="text" class="form-control ccp-txtbox ml-1" name='organizationName' v-validate="'required|alpha_num_spaces|max:50'" data-vv-as="Organization Name" v-model.trim="organizationName">
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="payment-method-dd clearfix">
                                    <div class="col-sm-11 plr-0">
                                        <div class="form-group clearfix" :class="[errorBag.first('addressLine1') ? 'has-error' : '']">
                                            <label for="location" class="col-sm-4 col-xs-12 form-label">Address Line 1<span class="asterik">*</span></label>
                                            <div class="col-sm-8">
                                                <input  id="addressLine1" type="text" class="form-control ccp-txtbox ml-1" name='addressLine1' v-validate="'required|alpha_num_spaces'" data-vv-as="Address Line 1" v-model.trim="addressLine1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="payment-method-dd clearfix">
                                    <div class="col-sm-11 plr-0">
                                        <div class="form-group clearfix" :class="[errorBag.first('addressLine2') ? 'has-error' : '']">
                                            <label for="location" class="col-sm-4 col-xs-12 form-label">Address Line 2</label>
                                            <div class="col-sm-8">
                                                <input  id="addressLine2" type="text" class="form-control ccp-txtbox ml-1" name='addressLine2' v-validate="'alpha_num_spaces'" data-vv-as="Address Line 2" v-model.trim="addressLine2">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="payment-method-dd clearfix">
                                    <div class="col-sm-11 plr-0">
                                        <div class="form-group clearfix">
                                            <label for="location" class="col-sm-4 col-xs-12 form-label">City<span
                                                    class="asterik">*</span></label>
                                            <div class="col-sm-3" :class="[errorBag.first('city') ? 'has-error' : '']">
                                                <input  id="city" type="text" class="form-control ccp-txtbox ml-1" name='city' v-validate="'required|alpha_spaces'" data-vv-as="City" v-model.trim="city">

                                            </div>
                                            <div class="form-group" :class="[errorBag.first('state') ? 'has-error' : '']">
                                                <label for="location" class="col-sm-1 col-xs-12 form-label">State<span class="asterik">*</span></label>
                                                <div class="col-sm-4">
                                                    <select class="form-control ccp-txtbox" v-model="state" name="state" id="state" v-validate="'required'" data-vv-as="State">
                                                        <option value="">Select an Option</option>
                                                        <option v-for="row in states" :value="row.id">{{row.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="payment-method-dd clearfix">
                                    <div class="col-sm-11 plr-0">
                                        <div class="form-group clearfix" :class="[errorBag.first('zipCode') ? 'has-error' : '']">
                                            <label for="location" class="col-sm-4 col-xs-12 form-label">Zip Code<span
                                                    class="asterik">*</span></label>
                                            <div class="col-sm-8">
                                                <input  id="zipCode" type="text" class="form-control ccp-txtbox ml-1" name='zipCode' v-validate="'required|cZip'" data-vv-as="Zip Code" v-model.trim="zipCode" v-mask="'##### ####'">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="payment-method-dd clearfix">
                                    <div class="col-sm-11 plr-0">
                                        <div class="form-group clearfix" >
                                            <label for="location" class="col-sm-4 col-xs-12 form-label">Phone <span class="asterik">*</span></label>
                                            <div class="col-sm-3" :class="[errorBag.first('phone') ? 'has-error' : '']">
                                                <input id="phone" type="text" class="form-control ccp-txtbox ml-1" name='phone' v-validate="'required|cPhone'" data-vv-as="Phone" v-model.trim="phone" v-mask="'###.###.####'">

                                            </div>
                                            <div class="form-group">
                                                <label for="location" class="col-sm-1 col-xs-12 form-label">Ext</label>
                                                <div class="col-sm-4">
                                                    <input  id="ext" type="text" class="form-control ccp-txtbox ml-1" name='ext' data-vv-as="Ext" v-model.trim="ext" v-mask="'####'">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="payment-method-dd clearfix">
                                    <div class="col-sm-11">
                                        <alert :root_url="root_url" :message_class="messageClass" :message_text="messageText" :show_message="showMessage"></alert>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="payment-method-dd clearfix">



                                    <div class="col-xs-12">
                                        <div class="catalogBtns pl-0">
                                            <div class="form-group clearfix">
                                                <div class="pl-0">
                                                    <a :disabled="disableButton"  @click.prevent="validateBeforeSubmit()" class="btn btn-primary pull-left">Save</a>
                                                    <a @click.prevent="resetModal()" class="btn pull-left">Cancel</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>



                        </div>
                    </div>
                </div>
                <div v-if="paymentMethod=='nt'">
                    <div class="clearfix"></div>
                    <span class="form-slogan">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </span>
                    <div class="formbtns-custom">
                        <a :href="root_url+'/payments/net-terms'" class="btn btn-primary">Request Net Terms</a>
                    </div>
                </div>

            </div>
            <!-- Add Payment Method Form Ends Here -->

        </div>
        <!-- Add Payment Method Ends Here -->
    </div>
</template>
<script>
    export default {
        name: 'payment-method-credit-card',
        props: ['root_url','drop_down_condition'],
        data() {
            return {

                paymentMethod: 'cc',
                showMessage: false,
                messageClass: '',
                messageText: '',
                organizationName: '',
                addressLine1: '',
                addressLine2: '',
                city: '',
                state: '',
                states: '',
                zipCode: '',
                phone: '',
                ext: '',
                cvv: '',
                type: '',
                cardNumber: '',
                cardName: '',
                month: '',
                year: '',
                yearRange:'',
                creditCardMask:'################',
                ccvMask:'####',
                disableButton: false,
            }
        },
        mounted() {
            let self = this;
            //setting year range dynamically
            let currentYear=parseInt(_moment().year());
            let LastYear=parseInt(_moment().add(10, 'year').year());
            self.year=parseInt(_moment().add(1, 'year').year())
            self.yearRange = _.range(currentYear, LastYear);
            self.month=_moment(new Date()).format('MM');
            self.getStates();
            if(self.drop_down_condition=='onlyNetTerm'){
                self.paymentMethod='nt';
            }

        },
        methods: {
            // disable button
            disable: function () {
                this.disableButton = true;
            },
            // enable button
            enable: function () {
                this.disableButton = false;
            },
            // reset form
            resetModal() {
                let self = this;
                if(self.drop_down_condition=='onlyNetTerm'){
                    self.paymentMethod='nt';
                }else{
                    self.paymentMethod= 'cc';
                }
                window.EventBus.$emit('showPaymentList');

            },
            // validation
            validateBeforeSubmit(scope) {
                let self = this;
                self.$validator.validateAll(scope).then((result) => {
                    if (result) {
                        self.submitCreditCardDetail();
                        self.messageText = '';
                        self.messageClass = '';
                        self.showMessage = false;
                        return;
                    }
                    self.handleMessage(true, 0, self.errorBag.all()[0]);
                });
            },
            // get saved states
            getStates(){
                let self = this;
                self.$http.get('payments/states', []).then(response => response.json()).then(
                    (response) => {
                        if (response.success && response.status_code == 200) {
                            self.states = response.data;
                        }
                    }, (error) => {
                        console.error('payments/states');
                        console.error(error);
                    });
            },
            submitCreditCardDetail(){
                let self = this;
                self.disable();
                let createAddress = {
                    'organization_name' : self.organizationName,
                    'address_line_1' : self.addressLine1,
                    'address_line_2' : self.addressLine2,
                    'city' : self.city,
                    'state' : self.state,
                    'zip_code' : self.zipCode,
                    'phone' : self.phone,
                    'ext' : self.ext,
                    "name" : self.cardName,
                    "type" : self.type,
                    "number": self.cardNumber,
                    "cvv" : self.cvv,
                    "month" : self.month,
                    "year" :self.year,
                };
                self.$http.post('payments/credit-card', createAddress).then(response => response.json()).then(
                    (response) => {
                        if (response.createCreditCardResponse.data.error_type === 0) {
                            self.handleMessage(true, response.createCreditCardResponse.data.error_type, response.createCreditCardResponse.message);
                        } else if(response.createAddressResponse.data.error_type === 0){ //success
                            self.handleMessage(true, '', response.createAddressResponse.message,response.createAddressResponse.status_code);
                        }else{
                            self.handleMessage(true, response.createCreditCardResponse.data.error_type, response.createCreditCardResponse.message);
                            setTimeout(function () {
                                window.EventBus.$emit('showPaymentList');
                            }, 2000);

                        }
                        self.enable();
                    }, (error) => {
                        self.enable();
                        console.error('verify post-create-address error');
                        console.error(error);
                    },
                );
            },
            //reset role on cancel
            changePaymentMethod(index) {
                let self = this;
                self.userDetail[index].role[0].name = self.userDetailBackup[index].role[0].name;
                self.userDetail[index].status = self.userDetailBackup[index].status;
            },
            //reset role on cancel
            changeCreditCardtype(val) {
                let self = this;
                if(val=='amex'){

                    self.creditCardMask='###############';
                    self.ccvMask='####';
                }else{
                    self.creditCardMask='################';
                    self.ccvMask='###';
                }
            },


        }
    }
</script>
