<template>
	<div class="increment-num">
		<div id="step4-form" class="ccp-form-step ccp_email_info ccp-step-enabled">
			<div class="tab-header">
				Address of Use
			</div>
			<!--<div class="tab-header">-->
			<!--<div class="form-horizontal clearfix">-->
			<!--<div class="col-sm-12 relative no-left-padding aou-top-gap">-->
			<!--<span class="tab-circle">4</span>-->
			<!--<span class="tab-header-title">Address of Use</span>-->
			<!--</div>-->
			<!--</div>-->
			<!--</div>-->
			<div class="tab-section">
				<!-- User Info Fields Starts Here -->
				<div class="form-horizontal clearfix">
					<div class="col-xs-12 pl-0 pr-0">
						<p><label>A single Address of Use must be set for the acount. This is the address that will be used for taxation during invoicing. Once saved, the Address of Use can be maintained in the Customer Portal. Changes to the Address of Use made during a billing cycle will be held and applied at the start of the next billing cycle.</label></p>
					</div>
					<div class="col-xs-10 pl-0 pr-0">
						<div class="form-group">
							<label for="OrganizationName" class="col-sm-4">Organization Name<span class="asterik">*</span></label>
							<div class="col-sm-8">
								<input :disabled="false" id="OrganizationName" v-focus type="text" class="form-control ccp-txtbox" name='OrganizationName' v-validate="'required|alpha_num_spaces'" data-vv-as="Organization Name" v-model.trim="OrganizationName">
							</div>
						</div>
						<div class="form-group">
							<label for="AddressLine1" class="col-sm-4">Address Line 1<span class="asterik">*</span></label>
							<div class="col-sm-8">
								<input :disabled="false" id="AddressLine1" type="text" class="form-control ccp-txtbox" name='AddressLine1' v-validate="'required|alpha_num_spaces'" data-vv-as="Address Line 1" v-model.trim="AddressLine1">
							</div>
						</div>
						<div class="form-group">
							<label for="AddressLine1" class="col-sm-4">Address Line 2</label>
							<div class="col-sm-8">
								<input :disabled="false" id="AddressLine2" type="text" class="form-control ccp-txtbox" name='AddressLine2' v-validate="'alpha_num_spaces'" data-vv-as="Address Line 2" v-model.trim="AddressLine2">
							</div>
						</div>
						<div class="form-group">
							<label for="City" class="col-sm-4">City<span class="asterik">*</span></label>
							<div class="col-sm-3">
								<input :disabled="false" id="City" type="text" class="form-control ccp-txtbox" name='City' v-validate="'required|alpha_num_spaces'" data-vv-as="City" v-model.trim="City">
							</div>
							<label for="State" class="col-sm-1 add-top-margin-address-state">State<span class="asterik">*</span></label>
							<div class="col-sm-4">
								<select class="form-control ccp-txtbox address-state" v-model="State" name="state" id="State" v-validate="'required'" data-vv-as="State">
									<option value="">Select an Option</option>
									<option v-for="row in states" :value="row.id">{{row.name}}</option>
								</select>
							</div>
						</div>
						<div class="form-group">
						</div>
						<div class="form-group">
							<label for="ZipCode" class="col-sm-4">Zip Code<span class="asterik">*</span></label>
							<div class="col-sm-8">
								<input :disabled="false" id="ZipCode" type="text" class="form-control ccp-txtbox" name='ZipCode' v-validate="'required|cZip'" data-vv-as="Zip Code" v-model.trim="ZipCode" v-mask="'##### ####'">
							</div>
						</div>
						<div class="form-group">
							<label for="Phone" class="col-sm-4">Phone<span class="asterik">*</span></label>
							<div class="col-sm-8">
								<input :disabled="false" id="Phone" type="text" class="form-control ccp-txtbox" name='Phone' v-validate="'required|cPhone'" data-vv-as="Phone" v-model.trim="Phone" v-mask="'###.###.####'">
							</div>
						</div>
						<div class="form-group">
							<label for="Ext" class="col-sm-4">Ext</label>
							<div class="col-sm-8">
								<input :disabled="false" id="Ext" type="text" class="form-control ccp-txtbox" name='Ext' data-vv-as="Ext" v-model.trim="Ext" v-mask="'####'">
							</div>
						</div>
						<alert :root_url="root_url" :showMessage="showMessage" :messageClass="messageClass" :messageText="messageText"></alert>
						<div class="form-group">
							<div class="col-sm-12">
								<button @click.prevent="validateBeforeSubmit()" class=" btn ccp-form-btn">Save & Continue</button>
							</div>
						</div>
					</div>
				</div>
				<!-- User Info Fields Ends Here -->
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</template>
<script>
    export default {
        name: 'address-of-use',
        props: ['root_url', 'user_email', 'company_id', 'set_time_out_wait', 'states'],
        data() {
            return {
                showMessage: false,
                messageClass: '',
                messageText: '',
                OrganizationName: '',
                AddressLine1: '',
                AddressLine2: '',
                City: '',
                State: '',
                ZipCode: '',
                Phone: '',
                Ext: '',
            };
        },
        methods: {
            //scroll
            scrollMeToNextStep() {
                setTimeout(()=>{
                    VueScrollTo.scrollTo('#step5-form', this.set_time_out_wait);
                }, this.set_time_out_wait);
            },
            // validation
            validateBeforeSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.postAddressOfUse();
                        this.messageText = '';
                        this.messageClass = '';
                        this.showMessage = false;
                        return;
                    }else{
                        this.handleMessage(true, 0, this.errorBag.all()[0]);
                    }
                });
            },
            postAddressOfUse(){
                let createAddress = {
                    'organization_name' : this.OrganizationName,
                    'address_line_1' : this.AddressLine1,
                    'address_line_2' : this.AddressLine2,
                    'city' : this.City,
                    'state' : this.State,
                    'zip_code' : this.ZipCode,
                    'phone' : this.Phone,
                    'ext' : this.Ext,
                    'type' : 'address of use',
                    'account_id' : this.company_id,
                    'email' : this.user_email,
                };
                this.$http.post('post-create-address', createAddress).then(response => response.json()).then(
                    (response) => {
                        if (response.data.error_type === 0) {
                            this.handleMessage(true, response.data.error_type, response.message);
                        } else { //success
                            window.EventBus.$emit('OnClickStep4', createAddress);
                            this.scrollMeToNextStep();
                        }
                    }, (error) => {
                        console.error('verify post-create-address error');
                        console.error(error);
                    },
                );
            }
        }
    };
</script>
<style scoped>
	p label {
		font-size: 14px;
		line-height: 20px;
	}
</style>