<template>
	<div v-if="showMessage">
		<div class="form-horizontal">
			<div class="all-notifications">
				<div :class="{ 'ccp-form-error': messageClass === 0, 'ccp-form-success': messageClass === 1, 'ccp-form-warning': messageClass === 2}">
					<p>
						<img :src="root_url+'/register_assets/images/' + ((messageClass === 1) ? 'succes' : ((messageClass === 0) ? 'error': ((messageClass === 2)?'pending':''))) + '-icon.png'"
							 alt="">
						<span v-html=messageText></span>
					</p>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
    export default{
        props : ['root_url', 'showMessage', 'messageClass', 'messageText'],
    }
</script>
