<template>
	<div class="increment-num">
		<div id="step2-form" class="ccp-form-step ccp_email_info ccp-step-enabled">
			<div class="tab-header">
				Business Information
			</div>
			<div class="tab-section">
				<!-- Business Info Fields Starts Here -->
				<form data-vv-scope="no_company_exist">
					<div v-if="companies.length === 0" class="form-horizontal clearfix">
						<div class="col-sm-12 business-info pl-0 pr-0">
							<div class="form-group">
								<label for="newCompanyName" class="col-sm-3">Company Name <span class="asterik">*</span>
								</label>
								<div class="col-sm-4">
									<input v-focus type="text" id="newCompanyName" name="newcompanyname" v-validate="'required|alphaNumericWithSpace'"
										   data-vv-as="Company Name" class="form-control ccp-txtbox"
										   v-model.trim="newCompanyName">
								</div>
							</div>
							<div class="form-group">
								<label for="industryTypes" class="col-sm-3">Industry Type <span class="asterik">*</span>
								</label>
								<div class="col-sm-4">
									<select id="industryTypes" name="industrytype" v-validate="'required'"
											data-vv-as="Industry Type" v-model.trim="selectedNewIndustryType"
											class="ccp-selectbox form-control">
										<option value="">Select an Option</option>
										<option v-for="industryType in industryTypes" :value="industryType.id">
											{{industryType.title}}
										</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="companySizes" class="col-sm-3 pr-0">Number of Employees<span
										class="asterik">*</span> </label>
								<div class="col-sm-4">
									<select id="companySizes" name="newcompanysizes" v-validate="'required'"
											data-vv-as="Number of Employees" v-model.trim="selectedNewCompanySize"
											class="ccp-selectbox form-control">
										<option value="">Select an Option</option>
										<option v-for="companySize in companySizes" :value="companySize.id">
											{{companySize.title}}
										</option>
									</select>
								</div>
							</div>
							<alert :root_url="root_url" :showMessage="showMessage" :messageClass="messageClass" :messageText="messageText"></alert>
							<div class="form-group">
								<div class="col-sm-12">
									<button :disabled="disableButton"
											@click.prevent="validateBeforeSubmit('no_company_exist')"
											class=" btn ccp-form-btn">
										{{businessButtonName}}
									</button>
								</div>
							</div>
						</div>
					</div>
				</form>
				<!-- Business Info Fields Ends Here -->
				<!-- Business Info Part 2 Radio Buttons Starts Here -->
				<form data-vv-scope="company_exist">
					<div v-if="companies.length > 0" class="form-horizontal clearfix">
						<div class="col-sm-12 business-info pl-0 pr-0">
							<div class="tab_content" v-if="companies.length > 0 && allow_more_accounts === true">
								Connection Cloud Platform account already exist. Please select your organization or
								select
								'My Organization is not Listed'.
							</div>
							<div class="tab_content" v-if="companies.length > 0 && allow_more_accounts === false">
								These organizations already have an account. Select from the listed accounts to request access.
							</div>
							<!-- Radio Buttons for Business Info Starts Here -->
							<div v-if="companies.length > 0" v-for="organization in companies" class="form-check">
								<input type="radio" @click="checkCompany(false)" name="organization"
									   v-model.trim="company_id" class="form-check-input"
									   :id="'organization'+organization.id" :value="organization.id">
								<label class="form-check-label" :for="'organization'+organization.id">{{organization.name}}</label>
							</div>
							<div v-if="companies.length > 0 && allow_more_accounts === true" class="form-check">
								<input type="radio" @click="checkCompany(true)" v-model.trim="company_id"
									   class="form-check-input" id="NewOrganization"
									   name="organization" value="">
								<label class="form-check-label" for="NewOrganization">My organization is not
									listed</label>
							</div>
							<!-- Radio Buttons for Business Info Ends Here -->
							<!-- Business Info Fields after clicking on organization not listed Starts Here -->
							<div v-if="company_id === '' && allow_more_accounts === true" class="form-horizontal clearfix">
								<div class="col-sm-12 business-info pl-0 pr-0">
									<div class="form-group">
										<label for="companyName" class="col-sm-3">Company Name <span
												class="asterik">*</span> </label>
										<div class="col-sm-4">
											<input v-focus id="companyName" v-validate="'required|alphaNumericWithSpace'" data-vv-as="Company Name"
												   name="newcompanyname" type="text" class="form-control ccp-txtbox"
												   v-model.trim="newCompanyName">
										</div>
									</div>
									<div class="form-group">
										<label for="selectedIndustryType" class="col-sm-3">Industry Type <span
												class="asterik">*</span> </label>
										<div class="col-sm-4">
											<select id="selectedIndustryType" v-model.trim="selectedNewIndustryType"
													v-validate="'required'" data-vv-as="Industry Type"
													name="industrytype"
													class="ccp-selectbox form-control">
												<option value="">Select an Option</option>
												<option v-for="industryType in industryTypes" :value="industryType.id">
													{{industryType.title}}
												</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label for="newCompanySizes" class="col-sm-3 pr-0">Number of Employees<span
												class="asterik">*</span> </label>
										<div class="col-sm-4">
											<select id="newCompanySizes" name="newcompanysizes" v-validate="'required'"
													data-vv-as="Number of Employees"
													v-model="selectedNewCompanySize" class="ccp-selectbox form-control">
												<option value="">Select an Option</option>
												<option v-for="companySize in companySizes" :value="companySize.id">
													{{companySize.title}}
												</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<alert :root_url="root_url" :showMessage="showMessage" :messageClass="messageClass" :messageText="messageText"></alert>
							<!-- Business Info Fields after clicking on organization not listed ends Here -->
							<div class="form-group">
								<div class="col-sm-12">
									<button :disabled="disableButton"
											@click.prevent="validateBeforeSubmit('company_exist')"
											class=" btn ccp-form-btn">
										{{businessButtonName}}
									</button>
								</div>
							</div>
						</div>
					</div>
				</form>
				<!-- Business Info Part 2 Radio Buttons Ends Here -->
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		name: 'business-info',
		props: ['root_url', 'user_email', 'companies', 'set_time_out_wait', 'allow_more_accounts'],
		data() {
			return {
				companyName: '',
				industryTypes: [],
				selectedNewIndustryType: '',
				selectedIndustryType: '',
				companySizes: [],
				selectedCompanySize: '',
				company_id: '',
				newCompanyName: '',
				newIndustryTypes: [],
				newCompanySizes: [],
				selectedNewCompanySize: '',
				companySize: '',
				showMessage: false,
				messageClass: '',
				messageText: '',
				businessButtonName: 'Add Business',
				disableButton: false,
			};
		},
		methods: {
			//scroll
			scrollMeToNextStep() {
				setTimeout(()=>{
					VueScrollTo.scrollTo('#step3-form', this.set_time_out_wait);
					// this.$scrollTo('#step3-form', this.set_time_out_wait);
				}, this.set_time_out_wait);
			},
			// disable button
			disable: function () {
				this.disableButton = true;
			},
			// enable button
			enable: function () {
				this.disableButton = false;
			},
			// button text to show base on existing or new company
			checkCompany: function (newCompany) {
				this.showMessage = false;
				if (newCompany === true) {
					this.businessButtonName = 'Add Business';
					window.EventBus.$emit('updateCompanyType', {'is_new_company_selected': true});
				}
				else {
					window.EventBus.$emit('updateCompanyType', {'is_new_company_selected': false});
					this.businessButtonName = 'Request Access';
				}
			},
			// validation
			validateBeforeSubmit(scope) {
				this.$validator.validateAll(scope).then((result) => {
					if (result) {
					    let role_name = '';
						if (scope === 'no_company_exist') {
                            role_name = 'Admin';
							this.AddBusiness();
						}
						if (scope === 'company_exist') {
							if (this.businessButtonName === 'Add Business') {
								this.AddBusiness();
                                role_name = 'Admin';
							}
							else {
								this.RequestAccess();
                                role_name = 'User';
							}
						}
                        window.EventBus.$emit('UserRoleUpdate', {
                            role_name: role_name
                        });
						return;
					}
					this.handleMessage(true, 0, this.errorBag.all()[0]);
				});
			},
			// send email for request access
			sendEmail: function (data, callback) {
				this.$http.post('post-request-access-email', data).then(response => response.json()).then(
					(response) => {
						if (response.data.error_type === 1) {
							if (callback) {
								callback(response);
							}
						}
						else {
							this.handleMessage(true, response.data.error_type, response.message);
						}
					}, (error) => {
						console.error('send email post error');
						console.error(error);
					},
				);
			},
			// add new business (company) or update with existing one
			AddBusiness: function () {
				let postBusinessInformation = {
					'email': this.user_email,
					'company_name': this.newCompanyName,
					'company_type_id': this.selectedNewIndustryType,
					'company_size_id': this.selectedNewCompanySize,
				};
				this.$http.post('add-business-information', postBusinessInformation).then(response => response.json()).then(
					(response) => {
						this.handleMessage(true, response.data.error_type, response.message);
						if (response.data.error_type === 1) {
							let _industryType = _.find(this.industryTypes, _.matchesProperty('id', this.selectedNewIndustryType));
							let industryTypeName = _.get(_industryType, ['title']);
							window.EventBus.$emit('onClickStep2', {
								'step2': 'complete',
								'companyName': this.newCompanyName,
								'company_id': response.data.company_id,
								'is_new_company_selected': true,
								selectedIndustryTypeName: industryTypeName,
							});
							this.scrollMeToNextStep();
						}
					}, (error) => {
						console.error('addBusinessInformation : post error');
						console.error(error);
					},
				);
			},
			// request access process
			RequestAccess: function () {
				this.disable();
				let postBusinessInformation = {
					'email': this.user_email,
					'company_id': this.company_id,
					'company_name': this.companyName,
					'company_type_id': this.selectedIndustryType,
					'company_size_id': this.selectedCompanySize,
				};
				this.$http.post('add-business-information', postBusinessInformation).then(response => response.json()).then(
					(response) => {
						if (response.data.error_type === 1) {
							if (response.data.hasOwnProperty('account_manager_email') && response.data.hasOwnProperty('business_email')) {
								this.sendEmail({
									'account_manager_email': response.data.account_manager_email,
									'account_manager_name': response.data.account_manager_name,
									'business_email': response.data.business_email,
									'company_name': response.data.company_name,
								}, function (emailData) {
									if (emailData.success === true) {
										this.enable();
										this.handleMessage(true, emailData.data.error_type, emailData.message);
										let BusinessInfoGlobalData = {
											'step2': 'complete',
										};
										BusinessInfoGlobalData['companyName'] = response.data.company_name;
										BusinessInfoGlobalData['company_id'] = response.data.company_id;
										BusinessInfoGlobalData['is_new_company_selected'] = false;
										window.EventBus.$emit('onClickStep2', BusinessInfoGlobalData);
										this.scrollMeToNextStep();
									}
								}.bind(this));
							}
							else {
								this.enable();
							}
						}
						else {
							this.enable();
						}
					}, (error) => {
						this.enable();
						console.error('addBusinessInformation : post error');
						console.error(error);
					},
				);
			},
			// get all industry types and company size (employee count) as well
			GetIndustryTypesAndCompanySizes: function () {
				this.$http.post('get-industry-types').then(response => response.json()).then(
					(response) => {
						this.industryTypes = response.data;
					}, (error) => {
						console.error('getIndustryTpes : post error');
						console.error(error);
					},
				);
				this.$http.post('get-comapny-sizes').then(response => response.json()).then(
					(response) => {
						this.companySizes = response.data;
					}, (error) => {
						console.error('getComapnySizes : post error');
						console.error(error);
					},
				);
			},
		},
		beforeCreate() {
		},
		// when view created
		created() {
			this.GetIndustryTypesAndCompanySizes();
		},
		beforeMount() {
		},
		mounted() {
		},
		beforeUpdate() {
		},
		updated() {
		},
		beforeDestroy() {
		},
		destroyed() {
		},
	};
</script>
<style scoped>
</style>