<template>
	<div class="increment-num">
		<div id="step1" class="ccp-form-step ccp_email_info ccp-step-enabled">
			<div class="tab-header">
				Email Information
			</div>
			<div class="tab-section">
				<form data-vv-scope="email">
					<div class="form-horizontal">
						<div v-if="email_info" class="col-sm-12 email_info pl-0 pr-0">
							<div class="tab_content">
								Lets get started by verifying your business email address.
							</div>
							<div class="form-group">
								<label for="name" class="col-sm-3">Business Email <span class="asterik">*</span>
								</label>
								<div :class="[ 'col-sm-4' , errorBag.first('email')  ? 'is-invalid' : '']">
									<input v-focus type="name" class="form-control ccp-txtbox" id="name" v-model.trim="user_email"
										   name="email" v-validate="'required|email'" data-vv-as="Business Email"
										   placeholder="email@domain.com">
								</div>
							</div>
							<alert :root_url="root_url" :showMessage="showMessage" :messageClass="messageClass" :messageText="messageText"></alert>
							<div class="form-group">
								<div class="col-sm-12">
									<button :disabled="disableButton" @click.prevent="validateBeforeSubmit('email')"
											class=" btn ccp-form-btn">
										Verify Email
									</button>
								</div>
							</div>
						</div>
					</div>
				</form>
				<!-- Code Verification Starts Here -->
				<form data-vv-scope="code">
					<div class="form-horizontal">
						<div v-if="code_verification" class="col-sm-12 code_verification pl-0 pr-0">
							<div class="tab_content">
								Provide the code received in the email or click on the link in your email to verify.
							</div>
							<div class="form-group">
								<label for="name" class="col-sm-3">Verification Code <span class="asterik">*</span>
								</label>
								<div class="col-sm-4">
									<input type="text" v-model.trim="userVerificationCode"
										   v-validate="'required|numeric|min:6|max:6'" data-vv-as="Verification Code"
										   name="code" class="form-control ccp-txtbox" id="code" placeholder=""
										   v-mask="'######'">
								</div>
							</div>
							<alert :root_url="root_url" :showMessage="showMessage" :messageClass="messageClass" :messageText="messageText"></alert>
							<div class="form-group">
								<div class="col-sm-12">
									<button @click.prevent="validateBeforeSubmit('code')" class=" btn ccp-form-btn">
										Verify
									</button>
								</div>
							</div>
						</div>
					</div>
				</form>
				<!-- Code Verification Ends Here -->
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		props: ['root_url', 'step12', 'set_time_out_wait'],
		name: 'email-info',
		data() {
			return {
				email_info: true,
				code_verification: false,
				email_message_success: false,
				user_email: '',
				email: '',
				emailToken: '',
				verificationCode: '',
				showMessage: false,
				messageClass: '',
				messageText: '',
				userVerificationCode: '',
				companies: [],
				disableButton: false,
			};
		},
		// when view created
		created() {
			if (this.step12) {
				this.email_message_success = true;
				this.email_info = false;
				this.code_verification = true;
			}
		},
		methods: {
			//scroll
			scrollMeToNextStep() {
				setTimeout(()=>{
					VueScrollTo.scrollTo('#step2-form', this.set_time_out_wait);
					// this.$scrollTo('#step2-form', this.set_time_out_wait);
					// var cancelScroll = VueScrollTo.scrollTo('#step2-form', duration, options)
					// // or alternatively inside your components you can use
					// cancelScroll = this.$scrollTo('#step2-form', duration, options)
					// // to cancel scrolling you can call the returned function
					// cancelScroll()
				}, this.set_time_out_wait);
			},
			// disable button
			disable: function () {
				this.disableButton = true;
			},
			// enable button
			enable: function () {
				this.disableButton = false;
			},
			// send email for request access
			sendEmail: function (callback) {
				let postEmailData = {
					'token': this.token,
					'email': this.user_email,
					'emailToken': this.emailToken,
					'verificationCode': this.verificationCode,
				};
				this.$http.post('post-send-email', postEmailData).then(response => response.json()).then(
					(response) => {
						if (response.data.error_type === 1) {
							if (callback) {
								callback(response);
							}
						}
						else {
							this.handleMessage(true, response.data.error_type, response.message);
						}
					}, (error) => {
						console.error('send email post error');
						console.error(error);
					},
				);
			},
			// validation
			validateBeforeSubmit(scope) {
				this.$validator.validateAll(scope).then((result) => {
					if (result) {
						if (scope === 'email') {
							this.VerifyEmail();
						}
						else if (scope === 'code') {
							this.VerifyCode();
						}
						this.messageText = '';
						this.messageClass = '';
						this.showMessage = false;
					} else
						this.handleMessage(true, 0, this.errorBag.all()[0]);
				});
			},
			// verify email signup step 1 via user input email
			VerifyEmail: function () {
				this.disable();
				this.$http.post('post-signup-step1', {'email': this.user_email}).then(response => response.json()).then(
					(response) => {
						if (response.data.error_type === 1
							&& response.data.hasOwnProperty('emailToken') && response.data.emailToken !== '' && response.data.emailToken !== undefined
							&& response.data.hasOwnProperty('token') && response.data.token !== '' && response.data.token !== undefined
							&& response.data.hasOwnProperty('verificationCode') && response.data.verificationCode !== '' && response.data.verificationCode !== undefined
						) {
							this.emailToken = response.data.emailToken;
							this.token = response.data.token;
							this.verificationCode = response.data.verificationCode;
							this.sendEmail(function (emailResponseData) {
								this.enable();
								this.handleMessage(true, response.data.error_type, response.message);
								this.email_message_success = true;
								this.email_info = false;
								this.code_verification = true;
							}.bind(this));
						}
						else {
							this.enable();
							this.handleMessage(true, response.data.error_type, response.message);
						}
					}, (error) => {
						this.enable();
						console.error('signup step1 : post error');
						console.error(error);
					},
				);
			},
			// verify code via user input verification code
			VerifyCode: function () {
				let postVerifyCodeData = {
					'email_token': this.emailToken,
					'verification_code': this.userVerificationCode,
				};
				this.$http.post('post-verify-code', postVerifyCodeData).then(response => response.json()).then(
					(response) => {
						if (response.data.error_type === 1) {
							if(response.hasOwnProperty('data') && response.data.hasOwnProperty('companies') && response.data.companies.length > 0){
								this.companies = response.data.companies;
							}
							this.handleMessage(true, response.data.error_type, response.message);
							this.code_verification = false;
							this.emailbox = true;
							let allowMoreAccounts = true;
							if(response.hasOwnProperty('data') && response.data.hasOwnProperty('allow_more_accounts') && parseInt(response.data.allow_more_accounts) === 1)
								allowMoreAccounts = true;
							else if(response.hasOwnProperty('data') && response.data.hasOwnProperty('allow_more_accounts') && parseInt(response.data.allow_more_accounts) === 0)
								allowMoreAccounts = false;
							window.EventBus.$emit('onClickStep1', {
								step1: 'complete',
								user_email: this.user_email,
								companies: this.companies,
								allow_more_accounts: allowMoreAccounts,
								'businessStep': false,
							});
							this.scrollMeToNextStep();
						}
						else {
							this.handleMessage(true, response.data.error_type, response.message);
						}
					}, (error) => {
						console.error('verify code post error');
						console.error(error);
					},
				);
			},
		},
	};
</script>
<style scoped>
</style>