<template>
	<div class="increment-num">
		<div id="step6-form" class="ccp-form-step ccp_email_info ccp-step-enabled">
			<div class="tab-header">
				Cloud Service Agreement
			</div>
			<div class="tab-section">
				<p>
					{{license.license_text}}
				</p>
				<div class="form-horizontal clearfix">
					<div class="col-sm-12">
						<div class="checkbox">
							<input type="checkbox" v-validate="'required'" data-vv-as="Cloud Service Agreement"
								   id="agreement" :value="license.id" v-model.trim="licenseId"
								   @change="LicenseAgreementChange($event)">
							<label for="agreement">
								I agree to the Cloud Service Agreement
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<alert :root_url="root_url" :showMessage="showMessage" :messageClass="messageClass" :messageText="messageText"></alert>
				</div>
			</div>
		</div>
		<div class="cont-create col-sm-5 pl-0 pr-0">
			<button class="btn btn-block" :class="{'btn-create-account': !licenseId, 'ccp-form-btn': licenseId }"
					@click.prevent="validateBeforeSubmit()" :disabled="!licenseId">Create Account
			</button>
		</div>
	</div>
</template>
<script>
	export default {
		name: 'license-agreement',
		props: ['first_name', 'last_name', 'root_url', 'user_email', 'company_id'],
		data() {
			return {
				licenseId: '',
				license: {},
				showMessage: false,
				messageClass: '',
				messageText: '',
			};
		},
		methods: {
			// validation
			validateBeforeSubmit(scope) {
				this.$validator.validateAll().then((result) => {
					if (result) {
						this.UpdateCompanyAgreement();
						this.messageText = '';
						this.messageClass = '';
						this.showMessage = false;
						return;
					}
					this.handleMessage(true, 0, this.errorBag.all()[0]);
				});
			},
			// on change of license agreement checkbox
			LicenseAgreementChange: function (data) {
				window.EventBus.$emit('LicenseAgreementChange', data);
			},
			// update license agreement
			UpdateCompanyAgreement: function () {
				let postSubscriptionPlan = {
					'email': this.user_email,
					'company_id': this.company_id,
					'license_id': (this.licenseId?this.license.id:0),
					'first_name': this.first_name,
					'last_name': this.last_name,
				};
				this.$http.post('update-company-agreement', postSubscriptionPlan).then(response => response.json()).then(
					(response) => {
					    if(response.data.error_type === 1){
                            // redirect to login
                            window.location.href = root_url + '/auth/login?email=' + this.user_email + '&message=' + response.message + ' Please login.';
						}else{
                            this.handleMessage(true, response.data.error_type, response.message);
						}
					}, (error) => {
						console.error('updateCompanyAgreement : post error');
						console.error(error);
					},
				);
			},
			// get license agreement
			GetLicenseAgreement: function () {
				this.$http.post('get-license-agreement').then(response => response.json()).then(
					(response) => {
						this.license = response.data;
					}, (error) => {
						console.error('getLicenseAgreement : post error');
						console.error(error);
					},
				);
			},
		},
		// when view created
		created() {
			this.GetLicenseAgreement();
		},
		// when view mounted
		mounted() {
			/*License Agreement Update*/
			window.EventBus.$on('LicenseCreateAccountGridClick', () => {
				this.UpdateCompanyAgreement();
			});
		},
	};
</script>
<style scoped>
</style>