<template>
	<div class="increment-num">
		<div id="step5-form" class="ccp-form-step ccp_email_info ccp-step-enabled">
			<div class="tab-header">
				Subscription
			</div>
			<div class="tab-section">
				<!-- Select Subscription Fields Starts Here -->
				<div class="form-horizontal clearfix">
					<div class="col-sm-12 business-info pl-0 pr-0 subscription-fix">
						<div v-for="subscriptionPlan in subscriptionPlans" class="form-check">
							<input v-model.trim="subscriptionPlanId" :disabled="parseInt(subscriptionPlan.status) === 0"
								   :value="subscriptionPlan.id" v-validate="'required'" data-vv-as="Subscription Plan"
								   type="radio" class="form-check-input" :id="'subscriptionPlan' + subscriptionPlan.id"
								   name="subscriptionPlanId">
							<label class="form-check-label" :for="'subscriptionPlan' + subscriptionPlan.id">{{subscriptionPlan.name}}</label>
							<span>{{subscriptionPlan.description}}</span>
						</div>
						<alert :root_url="root_url" :showMessage="showMessage" :messageClass="messageClass" :messageText="messageText"></alert>
						<div class="form-group">
							<div class="col-sm-12">
								<button @click.prevent="validateBeforeSubmit()" class=" btn ccp-form-btn">
									Save & Continue
								</button>
							</div>
						</div>
					</div>
				</div>
				<!-- Select Subscription Fields Ends Here -->
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		name: 'subscription',
		props: ['root_url', 'user_email', 'company_id', 'set_time_out_wait'],
		data() {
			return {
				subscriptionPlans: [],
				subscriptionPlanId: '',
				showMessage: false,
				messageClass: '',
				messageText: '',
			};
		},
		methods: {
			//scroll
			scrollMeToNextStep() {
				setTimeout(()=>{
					VueScrollTo.scrollTo('#step6-form', this.set_time_out_wait);
					// this.$scrollTo('#step5-form', this.set_time_out_wait);
				}, this.set_time_out_wait);
			},
			// validation
			validateBeforeSubmit(scope) {
				this.$validator.validateAll().then((result) => {
					if (result) {
						this.AddSubscription();
						this.messageText = '';
						this.messageClass = '';
						this.showMessage = false;
						return;
					}
					this.handleMessage(true, 0, this.errorBag.all()[0]);
				});
			},
			// post selected subscription plan
			AddSubscription: function () {
				let postSubscriptionPlan = {
					'email': this.user_email,
					'company_id': this.company_id,
					'subscription_plan_id': this.subscriptionPlanId,
				};
				let subscriptionPlansActive = _.find(this.subscriptionPlans, _.matchesProperty('id', this.subscriptionPlanId));
				let subscriptionPlansActiveName = _.get(subscriptionPlansActive, ['name']);
				this.$http.post('update-subscription-plan', postSubscriptionPlan).then(response => response.json()).then(
					(response) => {
						this.handleMessage(true, response.data.error_type, response.message);
						if (response.data.error_type === 1) {
							this.scrollMeToNextStep();
							window.EventBus.$emit('OnClickStep5', {
								// step5: 'complete',
								subscriptionPlanId: this.subscriptionPlanId,
								subscriptionPlanName: subscriptionPlansActiveName,
							});
						}
					}, (error) => {
						console.error('updateSubscriptionPlan : post error');
						console.error(error);
					},
				);
			},
			// get subscription plans
			GetSubscription: function () {
				this.$http.post('get-subscription-plans').then(response => response.json()).then(
					(response) => {
						this.subscriptionPlans = response.data;
						this.subscriptionPlanId = this.subscriptionPlans[0].id;
					}, (error) => {
						console.error('getSubscriptionPlans : post error');
						console.error(error);
					},
				);
			},
		},
		// when view created
		created() {
			this.GetSubscription();
		},
	};
</script>
<style scoped>
</style>