<template>
	<div class="increment-num">
		<div id="step3-form" v-if="userInfoSec" class="ccp-form-step ccp_email_info ccp-step-enabled">
			<div class="tab-header">
				User Information
			</div>
			<div class="tab-section">
				<!-- User Info Fields Starts Here -->
				<div class="form-horizontal clearfix">
					<div class="col-sm-12 business-info pl-0 pr-0">
						<div class="form-group">
							<label for="FirstName" class="col-sm-3">First Name <span class="asterik">*</span> </label>
							<div class="col-sm-4">
								<input v-focus :disabled="error_user_invite === 1" id="FirstName" type="text" class="form-control ccp-txtbox" name='FirstName'
									   v-validate="'required'" data-vv-as="First Name" v-model.trim="FirstName">
							</div>
						</div>
						<div class="form-group">
							<label for="LastName" class="col-sm-3">Last Name <span class="asterik">*</span> </label>
							<div class="col-sm-4">
								<input :disabled="error_user_invite === 1" id="LastName" type="text" class="form-control ccp-txtbox" name="LastName"
									   v-validate="'required'" data-vv-as="Last Name" v-model.trim="LastName">
							</div>
						</div>
						<div class="form-group">
							<label for="Phone" class="col-sm-3">Phone <span class="asterik">*</span> </label>
							<div class="col-sm-4">
								<input :disabled="error_user_invite === 1" id="Phone" type="text" name="Phone" v-validate="'required|cPhone'"
									   data-vv-as="Phone" class="form-control ccp-txtbox" v-model.trim="Phone"
									   v-mask="'###.###.####'">
							</div>
						</div>
						<div class="form-group">
							<label for="JobTitle" class="col-sm-3 pr-0">Job Title<span class="asterik">*</span> </label>
							<div class="col-sm-4">
								<select :disabled="error_user_invite === 1" id="JobTitle" v-model.trim="JobTitle" name="jobtitle" v-validate="'required'"
										data-vv-as="Job Title" class="ccp-selectbox form-control">
									<option value="">Select an Option</option>
									<option v-for="jobTitle in jobTitles" :value="jobTitle.id">
										{{jobTitle.title}}
									</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="Password" class="col-sm-3">Password <span class="asterik">*</span> </label>
							<div class="col-sm-4">
								<input :disabled="error_user_invite === 1" id="Password" name="password" v-validate="'required|cPassword|min:8'"
									   ref="password" v-model.trim="Password" type="password"
									   class="form-control ccp-txtbox">
							</div>
							<span class="user-password-error">
                                     Password must have atleast 8 characters and contain uppercase, lowercase letters and numbers.
                             </span>
						</div>
						<div class="form-group">
							<label for="ConfirmPassword" class="col-sm-3">Confirm Password <span
									class="asterik">*</span> </label>
							<div class="col-sm-4">
								<input :disabled="error_user_invite === 1" id="ConfirmPassword" data-vv-name="password"
									   v-validate="'required|confirmed:password'" v-model.trim="ConfirmPassword"
									   type="password" class="form-control ccp-txtbox">
							</div>
						</div>
						<alert :root_url="root_url" :showMessage="showMessage" :messageClass="messageClass" :messageText="messageText"></alert>
						<div class="form-group">
							<div class="col-sm-12">
								<button :disabled="disableButton || error_user_invite === 1" @click.prevent="validateBeforeSubmit()"
										class=" btn ccp-form-btn">
									{{((is_user_invite === 1)? 'Create Account': ((is_new_company_selected)?'Save & Continue':'Create Account'))}}
								</button>
							</div>
						</div>
					</div>
				</div>
				<!-- User Info Fields Ends Here -->
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		name: 'user-info',
		props: ['status_code', 'role_name', 'error_user_invite_message', 'error_user_invite', 'user_email', 'is_new_company_selected', 'set_time_out_wait', 'is_user_invite', 'root_url'],
		data() {
			return {
				userInfoSec: true,
				FirstName: '',
				LastName: '',
				Phone: '',
				Password: '',
				JobTitle: '',
				jobTitles: [],
				ConfirmPassword: '',
				showMessage: false,
				messageClass: '',
				messageText: '',
				disableButton: false,
			};
		},
		methods: {
			//scroll
			scrollMeToNextStep() {
				setTimeout(()=>{
					VueScrollTo.scrollTo('#step4-form', this.set_time_out_wait);
					// this.$scrollTo('#step4-form', this.set_time_out_wait);
				}, this.set_time_out_wait);
			},
			// disable button
			disable: function () {
				this.disableButton = true;
			},
			// enable button
			enable: function () {
				this.disableButton = false;
			},
			// validation
			validateBeforeSubmit() {
				this.$validator.validateAll().then((result) => {
					if (result) {
                        let postUserInformation = {
                            'email': this.user_email,
                            'first_name': this.FirstName,
                            'last_name': this.LastName,
                            'phone': this.Phone,
                            'job_title_id': this.JobTitle,
                            'password': this.Password,
                        };
                        if(is_user_invite === 1){
                            postUserInformation.role_name = 'User';
                            this.SignupInvitedUser(postUserInformation);
						}
						else{
                            postUserInformation.role_name = this.role_name;
                            this.AddUserInfo(postUserInformation);
                        }
						this.messageText = '';
						this.messageClass = '';
						this.showMessage = false;
						return;
					}
					this.handleMessage(true, 0, this.errorBag.all()[0]);
				});
			},
			// post user information
            SignupInvitedUser: function (postUserInformation) {
                this.disable();
				this.$http.post('signup-invited-user', postUserInformation).then(response => response.json()).then(
					(response) => {
                        this.handleMessage(true, response.data.error_type, response.message);
                        if (response.data.error_type === 1) {
                            window.EventBus.$emit('gridInviteCreateAccountButton', {
                                'error_user_invite': 1,
                            });
                            this.disable();
                            window.location.href = root_url + '/auth/login?email=' + this.user_email + '&message=' + response.message;
						}else{
                            this.enable();
						}
					}, (error) => {
						this.handleMessage(true, response.data.error_type, response.message);
						console.error('SignupInvitedUser : post error');
						console.error(error);
                        this.enable();
					},
				);
			},
			// post user information
			AddUserInfo: function (postUserInformation) {
				this.$http.post('add-user-information', postUserInformation).then(response => response.json()).then(
					(response) => {
						if (response.data.error_type === 1) {
							if (this.is_new_company_selected === false && response.data.next_step === 8) {
								this.handleMessage(true, response.data.error_type, response.message);
								this.disable();
								window.EventBus.$emit('gridCreateAccountButton', {
									'disableCreateAccount': true,
								});
								if(is_user_invite === 1 || parseInt(response.data.is_invited) === 1)
									window.location.href = root_url + '/auth/login?email=' + this.user_email + '&message=' + response.message + ' Please login.';
							}
							else {
								let _JobTitle = _.find(this.jobTitles, _.matchesProperty('id', this.JobTitle));
								let _JobTitleName = _.get(_JobTitle, ['title']);
								this.userInfoSec = false;
								window.EventBus.$emit('onClickStep3', {
									step3: 'complete',
									FirstName: this.FirstName,
									LastName: this.LastName,
									Phone: this.Phone.replace(/\./g, '-'),
									JobTitle: _JobTitleName,
								});
								this.scrollMeToNextStep();
							}
						}
						else {
							this.handleMessage(true, response.data.error_type, response.message);
						}
					}, (error) => {
						this.handleMessage(true, response.data.error_type, response.message);
						console.error('addBusinessInformation : post error');
						console.error(error);
					},
				);
			},
			// get all job titles
			GetJobTitles: function () {
				this.$http.post('get-job-titles').then(response => response.json()).then(
					(response) => {
						this.jobTitles = response.data;
					}, (error) => {
						console.error('getJobTitles : post error');
						console.error(error);
					},
				);
			},
		},
		// when view created
		created() {
			this.GetJobTitles();
		},
		// when view mounted
		mounted() {
			/*License Agreement Update*/
            window.EventBus.$on('UserCreateAccountGridClick', () => {
				this.validateBeforeSubmit();
			});
			window.EventBus.$on('InviteUserCreateAccountGridClick', () => {
				this.validateBeforeSubmit();
			});
            if(error_user_invite === 1){
                this.handleMessage(true, ((this.status_code === 404)?0:1), this.error_user_invite_message);
			}
		},
	};
</script>
<style scoped>
</style>