@import "../../../../../resources/assets/scss/ccp-app";



.all-notifications {
  > div {
        color: #fff;
        font-size: 14px;
        font-family: 'encode_sansregular';
        line-height: 24px !important;
        padding-left: 15px !important;
        height: auto !important;
        margin-bottom: 15px !important;
        position: relative !important;
        padding-right: 15px !important;
    }


    img{
      width:26px;
      height:27px;
      float: left;
      vertical-align: middle;
      position: absolute !important;
      top: 50% !important;
      margin-top: -13px;
      left: 10px;
    }

   span{
     display: table;
     float: left;
     width: 94%;
     padding-top: 8px;
     padding-left: 35px;
     padding-bottom: 8px;
   }

  }



/*-------------------------*/
/*Page Css Starts Here */
.form-label {
  font-size: 16px;
  min-width: 140px;
  float: left;
}

.pass-seperator {
  width: 104.5%;
  border: 1px solid #d4d4d4;
  margin: 23px 0 27px 0;
}

.ccp-form-row.pass-actions {
  margin: 80px 0;
}

/*Media Quries Starts Here*/
@media screen and (max-width: 768px) {
  .pass-seperator {
    display: none;
  }
  .ccp-form-row.pass-actions {
    margin: 10px 0;
  }
}

@media screen and (min-width: 768px) {
  /*All page css*/
  .ccp-form-row {
    width: 410px;
    margin-top: 30px;
  }
  .ml-1 {
    margin-left: $marginL-1;
  }
  /*-----------*/
}


@media screen and (device-width: 414px)
and (device-height: 736px)
and (-webkit-device-pixel-ratio: 3){
  .btn-user-bordered-lg{
  }
}


/*Media Quries Ends Here*/
/*Page Css Ends Here*/