@import "../../../../../resources/assets/scss/ccp-app";

.all-notifications {
  > div {
    color: #FFF;
    font-family: 'encode_sansregular';
    line-height: 38px;
    padding: 0px 15px;
    font-size: 14px;
    height: 36px;
    margin-bottom: 15px;
    i {
      margin-right: 10px;
      vertical-align: middle;
    }
    img {
      margin-right: 10px;
      vertical-align: middle;
    }
  }
}



.notification {
  padding: 0;
  width: 100%;
}

@media screen and (min-width: 950px) {
  .notification .row .alert-wrapper {
    width: 92.5%;
  }
}


@media screen and (max-width: 949px) {
  .notification .row .alert-wrapper {
    width: 100%;
  }
}