@import "../../../../../resources/assets/scss/ccp-app";
/*Users Listing Css*/
/*section.container.my-profile {*/
/*padding-left: 0;*/
/*padding-right: 0;*/
/*}*/
/*.user-role{*/
/*position: relative;*/
/*}*/
/*.user-role table{*/
/*position: absolute;*/
/*}*/
/*Invite User*/
/*----------*/
/*Requested Users*/
/*--------------*/
/*Notifications Starts Here*/
/*------------------------*/
/*Pagination Starts Here*/
/*----------------*/
/*Media Quries Starts Here */
/*Media Quries Ends Here */



html {
  height: 100%;
}
body {
  height: 100%;
}
a {
  &:active {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
  }
}




.card {
  background: #FFF none repeat scroll 0% 0%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
}

.search-user {
  input {
    margin: 0px 0;
    width: 260px;
    background: url(~/../img/search-ico.png) no-repeat 8px center;
    box-shadow: none !important;
    outline: none;
    border: #7a7d7f 1px solid;
    padding-left: 43px;
    font-family: 'encode_sansregular';
    color: #929292;
  }
}





/*---All Page css*/



@media screen and (min-width: 1200px) and (max-width: 1370px) {
  .invite-user-form {
    label {
      padding: 0;
    }
  }
}
@media screen and (min-width: 768px) {
  /*All page css*/
  .ccp-form-row {
    width: 410px;
  }
  /*-----------*/
}

button[disabled],
.disabled a {
  outline: none;
  cursor: not-allowed;
  //pointer-events: none;
  opacity: .5;
}
.users-listing{
  .no_record{
    font-family: 'encode_sansregular';
    font-size: 14px;
  }
}
.ccp-form-warning {
  background: #004185;
}
.username{
 margin-bottom:10px;
}
table.user-data-table > tbody > tr > td {
    line-height: 15px;
    vertical-align: middle;
}
.user-title {
    width: 250px;
    padding-right: 25px !important;
}
.email {
    width: 350px;
    padding-right: 40px !important;
    word-break: break-word;
}
td.phn {
    width: 96px;
}
.col-right {
    width: 140px;
}
.col-right-l {
    width: 155px;
}
table td.col-notification {
  display: block;
  float: left;
  width: 100%;
  padding: 0 !important;
}
table td.col-notification .ccp-form-success {
  margin-bottom: 0;
}
.listUsers {
  display: block;
}
.custom-width label {
  line-height: 22px;
}