<template>
    <div>
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Remove Domain</h4>
                    </div>
                    <div class="modal-body">
                        <p class="domain-delete">Are you sure you want to remove this domain ?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="col-xs-5 col-xs-offset-1 p-l-0">
                            <button @click="removedDomain()" class="btn-primary-lg" data-dismiss="modal">Yes</button>
                        </div>
                        <div class="col-xs-5 p-l-0">
                            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "confirmation-popup",
        data(){
            return {
                domainList:[],
                removedIndex: -1,
                row : []
            }
        },
        mounted(){
            window.EventBus.$on('putValueInConfirmationPopup',(data) =>{
                this.$parent.hideAddNewForm();
                this.domainList = data.domainList;
                this.removedIndex = data.removedIndex;
                this.row = this.domainList[this.removedIndex]
            });
        },
        methods:{

            removedDomain:function(){

                this.domainList.splice(this.removedIndex,1);

                let postData = {
                    'id' : this.row.id
                };

                this.$http.post('account/remove-domain', postData).then(response => response.json()).then(
                (response) => {

                    this.$parent.handleMessage(true, response.data.error_type, response.message, response.status_code);

                }, (error) => {
                    console.error('account/remove-domain');
                    console.error(error);
                });

            },
        }
    }
</script>

<style scoped>

</style>
