<template>
    <div>
        <!-- Page Heading Starts Here -->
        <div class="page-heading">
            <span v-text="form_data.heading"></span>
        </div>
        <!-- Page Heading Ends Here -->
        <!-- Addresses Starts Here -->
        <div class="row">
            <!-- Billing Details Starts Here -->
            <div class="main-address">
                <div class="b-address col-xs-12"><!-- col-lg-4 col-md-5 col-sm-7 col-xs-12 -->
                    <p class="light-para" id="bill-address-text" v-if="address_text != ''" v-text="address_text"> </p>
                    <button v-if="requestAddressButton" @click="requestAddressFormShow" class="btn-primary-lg" v-text="form_data.request_button_value"></button>
                </div>
                <div class="clearfix"></div>
                <!-- Add Address Starts Here -->
                <div class="col-lg-8 billingAddressForm" v-if="addressForm">
                    <div class="form-horizontal">
                        <fieldset>
                            <!-- Form Name -->
                            <legend class="form-heading" v-text="form_title"></legend>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-sm-2 col-xs-12 form-label organization-name" for="organization_name">Organization <span class="asterik">*</span></label>
                                <div class="col-sm-10">
                                    <input type="text" v-focus v-model="organization_name" name="organization_name" id="organization_name" class="form-control ccp-txtbox" v-validate="'required|alpha_spaces'" data-vv-as="Organization"/>
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-sm-2 col-xs-12 form-label" for="address_line_1">Address <span class="asterik">*</span></label>
                                <div class="col-sm-10">
                                    <input v-model="address_line_1" name="address_line_1" id="address_line_1" type="text" class="form-control ccp-txtbox" v-validate="'required'" data-vv-as="Address"/>
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-sm-2 col-xs-12 form-label" for="address_line_2">Address 2</label>
                                <div class="col-sm-10">
                                    <input v-model="address_line_2" name="address_line_2" id="address_line_2" type="text" class="form-control ccp-txtbox"/>
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-sm-2 col-xs-12 form-label" for="city">City <span class="asterik">*</span> </label>
                                <div class="col-sm-4">
                                    <input v-model="city" name="city" id="city" type="text" class="form-control ccp-txtbox" v-validate="'required'" data-vv-as="City"/>
                                </div>
                                <label class="col-sm-2 col-xs-12 form-label center-txt" for="state">State <span class="asterik">*</span> </label>
                                <div class="col-sm-4">
                                    <select class="form-control ccp-txtbox" v-model="state" name="state" id="state" v-validate="'required'" data-vv-as="State">
                                        <option value="">Select an Option</option>
                                        <option v-for="row in all_states" :value="row.id">{{row.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-sm-2 col-xs-12 form-label" for="zip_code">Zip <span class="asterik">*</span> </label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control ccp-txtbox" v-model="zip_code" name="zip_code" id="zip_code" v-validate="'required|cZip'" data-vv-as="Zip Code" v-mask="'##### ####'"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-xs-12 form-label" for="phone">Phone <span class="asterik">*</span></label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control ccp-txtbox" v-model="phone" name="phone" id="phone" v-validate="'required|cPhone'" data-vv-as="Phone" v-mask="'###.###.####'"/>
                                </div>
                                <label class="col-sm-2 col-xs-12 form-label center-txt" for="ext">Ext  </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control ccp-txtbox" v-model="ext" name="ext" id="ext" v-mask="'####'"/>
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-sm-12 xs-custom-12">
                                    <a @click="formSubmit" class="btn btn-primary pull-left" :class="{'disabled': !submitButtonEnabled}" :disabled="!submitButtonEnabled">Submit Change Request</a>

                                    <a @click="requestAddressFormHide" class="btn pull-left">Cancel Request</a>
                                </div>


                                <!--<div class="col-sm-6 col-xs-6 xs-custom-12">-->
                                    <!--<button @click="formSubmit" class="btn-primary-lg" :disabled="!submitButtonEnabled">Submit Change Request</button>-->
                                <!--</div>-->
                                <!--<div class="col-sm-6 col-xs-6 xs-custom-12">-->
                                    <!--<button @click="requestAddressFormHide" class="btn-user-bordered-lg">Cancel Request</button>-->
                                <!--</div>-->
                            </div>





                        </fieldset>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="form-group">
                    <div class="col-sm-12 col-xs-12">
                        <alert v-if="showMessage" :root_url="root_url" :message_class="messageClass" :message_text="messageText" :show_message="showMessage"></alert>
                    </div>
                </div>

                <div class="clearfix"></div>
                <!-- Add Address Request Pending Starts Here -->
                <div v-if="addressRequestLoader" class="col-sm-12">
                    <div class="request-pending">
                        <div class="b-address col-xs-12 row"> <!-- col-lg-4 col-md-5 col-sm-7 col-xs-12 -->
                            <p class="light-para" v-text="address"></p>
                        </div>
                        <span class="requesting">
                       Request Pending
                   </span>
                    </div>
                </div>
                <!-- Add Address Request Pending Ends Here -->
            </div>
            <!-- Billing Details Ends Here -->
        </div>
        <!-- Addresses Ends Here -->
    </div>
</template>
<script>
    export default {
        name : 'request-address-form',
        props:['form_data', 'root_url'],
        data()
        {
            return {
                organization_name : '',
                address_line_1 : '',
                address_line_2 : '',
                city : '',
                state : '',
                zip_code : '',
                phone : '',
                ext : '',
                // show messages
                showMessage : false,
                messageClass : '',
                messageText : '',
                // form show hide
                requestAddressButton : true,
                addressForm : false,
                addressRequestLoader : false,
                address : '',
                // from address api
                create_or_update : "create",
                address_text : "",
                form_title : "Add Address",
                address_id : 0,
                // from states api
                all_states : "",
                // button enabled
                submitButtonEnabled : false
            }
        },
        mounted() {
            this.getAddress();
            this.getStates();
        },
        methods : {
            requestAddressFormShow : function () {
                this.showMessage = false;
                this.messageClass = '';
                this.messageText = '';
                this.requestAddressButton = false;
                this.addressForm = true;
            },
            requestAddressFormHide : function () {
                this.requestAddressButton = true;
                this.addressForm = false;
                this.messageText = '';
                this.messageClass = '';
                this.showMessage = false;
                this.emptyForm();
            },
            sendRequestLoaderShow : function () {
                this.addressForm = false;
                this.addressRequestLoader = true;
            },
            sendRequestLoaderHide : function () {
                this.addressRequestLoader = false;
                this.requestAddressButton = false;
            },
            formSubmit : function () {
                this.validateBeforeSubmit();
            },
            sendRequest : function () {
                let postData = {
                    'organization_name' : this.organization_name,
                    'address_line_1' : this.address_line_1,
                    'address_line_2' : this.address_line_2,
                    'city' : this.city,
                    'state' : this.state,
                    'zip_code' : this.zip_code,
                    'phone' : this.phone,
                    'ext' : this.ext,
                    'type' : this.form_data.type,
                    'create_or_update' : this.create_or_update,
                    'address_id' : this.address_id,
                };
                this.sendRequestLoaderShow();
                this.$http.post('account/post-address-request', postData).then(response => response.json()).then(
                    (response) => {

                    if (response.success && response.status_code == 200) {
                        if(this.create_or_update == 'create') {
                            this.getAddress();
                        }
                        this.emptyForm();
                        this.messageClass = 1;
                    }
                    else {
                        // if return error show form again
                        this.messageClass = 0;
                        this.addressForm = true;
                    }

                    this.sendRequestLoaderHide();
                    this.handleMessage(true, this.messageClass, response.message);

                }, (error) => {
                        this.handleMessage(true, 0, error.message);
                    },
                );
            },
            // get existing address
            getAddress : function() {
                this.$http.post('account/get-address', []).then(response => response.json()).then(
                    (response) => {
                    if (response.success && response.status_code == 200 && response.data.length > 0) {

                        for(var i = 0; i < response.data.length; i++) {

                            var row = response.data[i];
                            if(row.type == this.form_data.type) {

                                this.address_id = row.id;
                                this.address_text = row.address_line_1;

                                this.create_or_update = "update";
                                this.form_title = "Update Address";

                                this.submitButtonEnabled = true;
                                break;
                            }
                        }
                }
            }, (error) => {
                    console.error('account/get-address');
                    console.error(error);
                }
            );
            },
            // get saved states
            getStates : function(){
                this.$http.post('account/get-states', []).then(response => response.json()).then(
                    (response) => {
                    if (response.success && response.status_code == 200) {
                    this.all_states = response.data;
                }
            }, (error) => {
                    console.error('account/get-states');
                    console.error(error);
                });
            },
            emptyForm : function() {
                this.organization_name = "";
                this.address_line_1 = "";
                this.address_line_2 = "";
                this.city = "";
                this.state = "";
                this.zip_code = "";
                this.phone = "";
                this.ext = "";
            },
            validateBeforeSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.sendRequest();
                        this.messageText = '';
                        this.messageClass = '';
                        this.showMessage = false;
                        return;
                    }
                    this.handleMessage(true, 0, this.errorBag.all()[0]);
            });
            },
            // show all type of messages
            handleMessage: function (showMessage, messageClass, messageText) {
                this.messageText = '';
                this.messageClass = '';
                this.showMessage = false;
                if (typeof messageText === 'object') {
                    let arr = _.values(messageText);
                    messageText = _.toString(arr[0]);
                }
                this.messageText = messageText;
                this.messageClass = messageClass;
                this.showMessage = showMessage;
            },
        },
    }
</script>
