<template>
    <section class="notification-items">
        <ul>
            <li v-for="(notification, index) in allNotificationData" :key="index">
                <Notification
                        :title="notification.body"
                        :timeStamp="notification.updated_at"
                        :read="((notification.read == 0) ? '' : 'active')"
                        :isFlagged="notification.flagged"
                        :index="index"
                        :notificationType="1"
                        :notificationId="notification.id"
                        :deleteNotification="deleteNotification"
                        :flagToggle="flagToggle">
                </Notification>
            </li>
        </ul>

        <section v-if="allNotificationData.length < 1">
            <h2 class="no-notifications">No notifications</h2>
        </section>
    </section>
</template>


<script>
    import Notification from './Notification'


    export default {
        name: 'AllNotifications',
        data () {
            return {

            }
        },
        props: [
            "allNotificationData",
            "deleteNotification",
            "flagToggle",

        ],
        methods: {},
        components: {Notification},
        mounted(){

        }
    }
</script>