<template>
    <section class="notification-items">
        <ul>
            <li v-for="(notification, index) in flaggedNotificationData" :key="index">
                <Notification
                        :title="notification.body"
                        :timeStamp="notification.updated_at"
                        :read="((notification.read == 0) ? '' : 'active')"
                        :isFlagged="notification.flagged"
                        :index="index"
                        :notificationType="2"
                        :notificationId="notification.id"
                        :deleteNotification="deleteNotification"
                        :flagToggle="flagToggle">
                </Notification>
            </li>
        </ul>
        <section v-if="flaggedNotificationData.length < 1">
            <h2 class="no-notifications">No flagged notifications</h2>
        </section>
    </section>
</template>

<script>
    import Notification from './Notification'


    export default {
        name: 'FlaggedNotifications',
        data () {
            return {
            }
        },
        props: [
            "flaggedNotificationData",
            "deleteNotification",
            "flagToggle"
        ],
        methods: {},
        components: {Notification},
        mounted(){

        },

    }
</script>