<template>
    <Modal :show.sync="showNotificationSettings" :on-close="closeNotificationSettings">
        <div class="white-popup popup-small zoom-anim-dialog mfp-show notification-settings-modal">
            <h2>Notification Settings</h2>
            <p>Please select the types of notifications you would like to receive.</p>
            <ul class="settings-options">
                <li v-for="(option, oIndex) in options" :key="oIndex" class="control control--checkbox">
                    <label>{{option}}
                        <input v-model="checkOptions" :value="oIndex" type="checkbox">
                        <span :class="{checked: checkOptions.includes(oIndex)}" class="control_indicator"></span>
                    </label>
                </li>
            </ul>
            <div class="btn-container clearfix">
                <button type="button" class="btn btn-primary" @click="closeNotificationSettings">Save</button>
                <button type="button" class="btn btn-secondary" @click="closeNotificationSettings">Cancel</button>
            </div>
        </div>
    </Modal>
</template>


<script>
    import Modal from '../../../vue_common/modal'

    export default {
        name: 'NotificationSettings',
        data () {
            return {
                options: [
                    'PARs pending approval',
                    'Upcoming quote expirations',
                    'Upcoming software expirations',
                    'Upcoming hardware expirations',
                    'Products discontinuing soon',
                    'Orders shipments and deliveries'
                ],
                checkOptions: []
            }
        },
        props: ['showNotificationSettings', 'closeNotificationSettings'],
        methods: {},
        components: { Modal }
    }
</script>