<template>
    <div>
        <span @swipeleft="slideToggle" @swiperight="slideToggle" :swipe-options="{ threshold: 135, direction: 'horizontal' }" :class="{slide: slide}">
            <div class="notification" :class="{read: read}" @mouseover="active" @mouseleave="notActive">
                <div class="row">
                    <div class="small-10 medium-8 columns">
                        <a href="javascript:void(0)" class="notification-detail">{{title}}</a>
                    </div>
                    <div class="small-2 medium-4 columns text-align-right">
                        <div class="icon-wrapper">
                            <span v-if="isActive" @click="deleteNotification(index)" class="icon delete hide"></span>
                            <span v-if="isActive || isFlagged == 1" :class="{flagged: true, active: isActive}" @click="flagToggle(index, notificationId, notificationType)" class="icon flag"></span>
                            <p class="time-stamp">{{momentTime}}</p>
                            <span v-if="isFlagged == 1" class="icon flag flag flagged-mobile"></span>
                        </div>
                    </div>
                </div>
            </div>
        </span>
        <div v-if="slide" class="mobile-swipe-options" :class="{slide: slide}">
            <div @click="flagToggleMobile(index, notificationId, notificationType)" class="mobile-flag"></div>
            <div @click="deleteNotificationMobile(index)" class="mobile-delete"></div>
        </div>
    </div>
</template>


<script>
    import moment from "moment";
    moment().format();
    moment.updateLocale('en', {
        relativeTime: {
            future: 'in %s',
            past: '%s',
            s:  'now',
            ss: '%ss',
            m:  '%dm',
            mm: '%dm',
            h:  '%dh',
            hh: '%dh',
            d:  '1d',
            dd: '%dd',
            M:  '%dM',
            MM: '%dM',
            y:  '%dY',
            yy: '%dY'
        }
    });

    export default {
        name: 'Notification',
        data () {
            return {
                isActive: false,
                slide: false,
                now: Date.now(),
                momentTime: moment(this.timeStamp).fromNow(),
            }
        },
        props: [
            'title',
            'timeStamp',
            'read',
            'isFlagged',
            'deleteNotification',
            'index',
            'notificationId',
            'notificationType',
            'flagToggle',
        ],
        methods: {
            active: function() {
                this.isActive = true;
            },
            notActive: function() {
                this.isActive = false;
            },
            slideToggle: function() {
                this.slide = !this.slide;
            },
            deleteNotificationMobile(index) {
              this.deleteNotification(index);
              this.slide=false;
            },
            flagToggleMobile(index, notificationId, notificationType) {
                this.flagToggle(index, notificationId, notificationType);
                this.slide = false;
            },
            calculateMomentTime: function() {
                this.momentTime = moment(this.timeStamp).fromNow();
            },
        },
        mounted() {
            var self = this;
            setInterval(function () {
                self.calculateMomentTime();
            }, 10000)
        },

        components: {}
    }
</script>