<template>
    <section class="notifications">
        <div class="container">
            <section class="tablet-9 main-content">
                <section class="header">
                    <div class="row">
                        <div class="medium-6">
                            <h1>Notifications</h1>
                        </div>
                        <div class="medium-6 notification-settings text-align-right">
                            <a v-if="false" @click="openNotificationSettings" href="javascript:void(0);" class="btn">Notification Settings</a>
                        </div>
                    </div>
                    <div class="tab-wrapper clearfix">
                        <div class="tab-options">
                            <span @click="toggleView" :class="{ active: show.all }">All Notifications</span>
                            <span @click="toggleView" :class="{ active: show.flagged }">Flagged</span>
                        </div>
                    </div>
                </section>
                <AllNotifications
                        v-if="show.all"
                        :allNotificationData="allNotificationData"
                        :deleteNotification="deleteNotification"
                        :flagToggle="flagToggle">
                </AllNotifications>
                <FlaggedNotifications
                        v-if="show.flagged"
                        :flaggedNotificationData="flaggedNotificationData"
                        :deleteNotification="deleteNotification"
                        :flagToggle="flagToggle">
                </FlaggedNotifications>
            </section>
        </div>
        <NotificationSettings
                :showNotificationSettings="show.notificationSettings"
                :closeNotificationSettings="closeNotificationSettings">
        </NotificationSettings>
    </section>
</template>


<script>
    import Notification from './Notification'
    import AllNotifications from './AllNotifications'
    import FlaggedNotifications from './FlaggedNotifications'
    import NotificationSettings from './NotificationSettings'

    export default {
        name: 'Notifications',
        data () {
            return {
                show: {
                    all: true,
                    flagged: false,
                    notificationSettings: false,
                },
                allNotificationData : [],
                flaggedNotificationData : [],
            }
        },
        props: ["unreadNotifications"],
        methods: {

            // toggle between all & flagged notificatin tabs.
            toggleView: function() {
                this.show.all = !this.show.all
                this.show.flagged = !this.show.flagged
            },

            // not working on this option hopefully used in future.
            deleteNotification: function(index) {
                this.allNotificationData.splice(index, 1);
            },

            // change flad status and update in database.
            flagToggle: function(index, notificationId, notificationType) {

                // notificationType (1 = all notifications, 2 = flagged notifications)
                let postData = {
                    "id" : notificationId,
                };

                // if changed in all notification tab
                if (notificationType == 1) {
                    postData["flagged"] = this.allNotificationData[index].flagged = (this.allNotificationData[index].flagged == 1) ? 0 : 1;
                    postData["read"] = parseInt(this.allNotificationData[index].read);
                }
                // if changed in flagged notification tab
                else if (notificationType == 2) {
                    postData["flagged"] = this.flaggedNotificationData[index].flagged = (this.flaggedNotificationData[index].flagged == 1) ? 0 : 1;
                    postData["read"] = parseInt(this.flaggedNotificationData[index].read);
                }

                this.slide = false;

                // call api to update status in database.
                this.$http.post('update-notification', postData).then(response => response.json()).then(
                    (response) => {
                        if(response.success && response.status_code == 200) {
                            // refresh other listing if changed in any notification tab.
                            this.getFlaggedNotificationList();
                            this.getAllNotificationList();
                        }
                    }, (error) => {
                        console.error('update-notification');
                        console.error(error);
                    }
                );

            },

            // show notification setting panel
            openNotificationSettings: function() {
                this.show.notificationSettings = true;
            },

            // close notification setting panel
            closeNotificationSettings: function() {
                this.show.notificationSettings = false;
            },

            // get all notification list and marked all new unread messages as read.
            getAllNotificationList : function () {

                this.$http.post('get-all-notification').then(response => response.json()).then(
                    (response) => {

                        if(response.success && response.status_code == 200) {
                            this.allNotificationData = response.data;
                            this.markedAsReadNotification();


                            //this.unreadNotificationsId = response.unreadId;

                        }
                    }, (error) => {
                        console.error('get-notification-list');
                        console.error(error);
                    }
                );
            },

            // fetch all flagged notifications
            getFlaggedNotificationList : function () {

                this.$http.post('get-flagged-notification').then(response => response.json()).then(
                    (response) => {
                        if(response.success && response.status_code == 200) {
                            this.flaggedNotificationData = response.data;
                        }
                    }, (error) => {
                        console.error('get-notification-list');
                        console.error(error);
                    }
                );
            },

            // marked all new unread messages as read
            markedAsReadNotification : function () {

                let postData = [];
                $.each(this.allNotificationData, function (key, value) {

                    if (value.read == 0) {
                        postData[key] = {
                            'id' : value.id,
                            'flagged' : value.flagged,
                            'read' : 1,
                        };
                    }
                });

                // stop api calling if no new message found.
                if (postData.length == 0) {
                    return;
                }

                //call api if found some new messages.
                this.$http.post('marked-as-read-notification', {'postData' : postData}).then(response => response.json()).then(
                    (response) => {
                        // just check to status api call
                        if(response.success && response.status_code == 200) {
                            getUnreadNotificationCount();
                        }
                    }, (error) => {
                        console.error('marked-as-read-notification');
                        console.error(error);
                    }
                );
            },
        },
        // function called on page load.
        mounted(){
            this.getAllNotificationList();
            this.getFlaggedNotificationList();
        },
        // added other components
        components: {Notification, AllNotifications, FlaggedNotifications, NotificationSettings}
    }
</script>