.ccp-form-step:not(.ccp-step-enabled) {
	background: #FFF;
	margin-top: 15px;
	padding: 22px 15px;
	border: 2px solid #0e99d7;
	border-radius: 5px;
}

.increment-num {
	counter-increment: sections;
}

.ccp-form-step:before {
	content: counter(sections);
	position: absolute;
	background: #0e99d7;
	border-radius: 100%;
	width: 32px;
	height: 32px;
	text-align: center;
	color: #fff;
	line-height: 35px;
	font-family: 'encode_sansmedium';
	font-size: 13px;
}

span.step-title {
	margin-left: 50px;
	color: #231f20;
	font-size: 18px;
	font-family: 'encode_sansmedium';
	line-height: 36px;
}


.detail-box span.step-title {
	position: relative;
	margin-left: 0;
	width: 49%;
	display: inline-block;
	padding-left: 50px;
}

.detail-box span.step-title:before {
	background: url('../../../img/done-icon.png') no-repeat;
	position: absolute;
	content: " ";
	border-radius: 100%;
	width: 32px;
	height: 32px;
	text-align: center;
	color: #fff;
	left: 0px;
	font-family: 'encode_sansmedium';
	font-size: 13px;
}

.btn-primary-lg, .btn-user-bordered-lg{
	width: auto;
	min-width: 145px;
	padding: 0 20px;
}

.alert-wrapper {
	margin-left: -15px;
}

.asterik {
	color: #0e99d7;
	margin-left: 0;
}

.checkbox-primary {
	top: 0;
	float: left;
}

.checkbox-primary input[type="checkbox"]:checked + label::before {
	background: url('../../../img/active-chk.png') no-repeat;
	-webkit-box-shadow: none;
	box-shadow: none;
	width: 21px;
	height: 21px;
	outline: none;
}

.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.net-term-container {
	background: #f1f4f6;
}

.parent-container {
	padding-bottom: 100px
}

.input-field-set {
	padding: 0 40px
}

.form-label {
	padding: 0;
	line-height: 18px;
}

.form-label .v-center-lbl {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
}

.grey-background {
	background: #f1f4f6;
}



@media screen and (max-width: 992px) {

	.v-center-lbl {
		margin: 20px 0;
	}
}

@media screen and (max-width: 840px) and (min-width: 768px) {
	.btn-primary-lg, .btn-user-bordered-lg {
		min-width: 130px;
	}
}

@media screen and (max-width: 768px) {

	.v-center-lbl {
		margin: -3px 0 0 15px;
	}

	.input-field-set {
		padding: 0px 20px;
	}

	.mobile-padding {
		padding: 30px 0 0 0;
  		margin: 0 0 -10px 0;
	}

	.btn-primary-lg, .btn-user-bordered-lg {
		min-width: 130px;
		padding: 0 10px;
	}

	.btn-primary-lg, .btn-user-bordered-lg {
		min-width: 100%;
		margin: 10px 0 0 0;
	}

	.detail-box span.step-title {
		width: 100%;
	}
}

@media screen and (max-width: 600px) {
	.detail-box span.step-title {
		width: 49%;
	}
}

button:disabled, button[disabled] {
  background: #ebebeb;
  border: #c2c2c2 1px solid;
}

.error-field {
	border: 1px solid #ff0000;
}