@import "../../../../../resources/assets/scss/ccp-app";
//@import "../../../../../resources/assets/scss/mixins/mixins";
//@import "../../../../../resources/assets/scss/ccp-global/global";

/*Checkbox Css Starts Here*/


.form-label.center-txt {
  text-align: left;
}




/*select.form-control.ccp-txtbox {
  -webkit-appearance: none;
  appearance: none;
 background: url(/../../img/global/dd-arrow.png) no-repeat 95% center;
}*/
select::-ms-expand {
  display: none;
}




/*-------------------------*/
/*Page Css Starts Here */

.main-content.container-cus{
  width:100%;
}
.form-top-bar{
  border-bottom:#e6e6e6 1px solid;
  margin-bottom:-20px;
  padding-bottom: 20px;
}
fieldset{
  border: none;
  padding:1.50em 0 0.75em;
}

.page-md-heading{
  margin-bottom:0;
  text-align: left;
  font-family: $MediumFont;
}

.pl-0{
  padding-left:0;
}
.pr-0{
  padding-right:0;
}
.plr-0{
  padding-left:0;
  padding-right:0;
}

.input-group{
  width:100%;
}

.checkbox{
  label{
    left:0px;
  }
}

.cus-section{
  margin-top:35px;
  margin-bottom:35px;
  border-bottom:#e6e6e6 1px solid;
}
.form-label{
  text-align:left;

}

.col-txtbox{
  float:right;
}

.cus-section{
  >.row:nth-child(1){
    margin-bottom:0;
  }
  .row{
    margin-bottom: 20px;
  }
}

.form-action-btns{
  margin:60px 0 50px 0;
}


table.table {
  tr.invited-users{
    border-bottom:#FFF 20px solid;
    td{
      padding-bottom:22px;
    }
  }
}



.checkbox-primary {
  padding-left: 0px;
  top: -10px;
  text-align:right;
}






.UserAccountChk{
  span {
    float: left;
    line-height: 30px;
  }
}
.UserAccountChk{
  .ccp-label{
    position: relative;
    left:35px;
  }
}

.formbtns-custom{
  margin-top:25px;
}


.notify-user{
  border-top:#e0e0e0 2px solid;
  margin-top:30px;
  padding-top:30px;
}

.all-notifications  {
  > .ccp-form-info{
    height: auto;
    padding: 4px 10px !important;
    line-height: 17px;
  }
}
.payment-method-button{
  margin-bottom: 10px;
}





/*Media Quries Starts Here*/

/*All Page css*/


/*Payment Method Css Starts Here*/
.all-payment-methods {
  //border-bottom: #e0e0e0 2px solid;
  //margin-bottom: 30px;
  //padding-bottom: 30px;

  .current-payment-method-details {
    margin-top: 12px;
  }

}



.detail-lbl{
  @include Detail-lbl;
  @include Detail-lbl-ffamily($MediumFont);
}
.detail-lbl.detail-address{
  @include Detail-lbl-ffamily($lightFont);
  width:200px;
  line-height:23px;
}

.detail-address {
  text-align: left;
}
.ccp-label {
  @include headingsAndLabels;
  color: $color-blck;
  font-family: $regularFont;
}
/*Payment Method Css Ends Here*/
/*All Page css ends*/

.payment-method-dd {
  width: 100%;
}
.payment-method-dd  .radio-inline {
  font-family: "encode_sansregular";
  font-size: 15px;
  color: #231f20;
  font-weight: normal;
  padding-right: 0;
  margin: 10px 40px 0px 0px;
}

.mt15 {
  margin-top: 15px;
}

.asterik {
  color: #0e99d7 !important;
  font-family: "encode_sansmedium";
  position: relative;
}

.has-error .form-control {
  border-color: #e54340 !important;
}


@media screen and (max-width: 1024px) {
  .payment-method-dd .radio-inline {
    float: left;
    width: 50%;
    margin: 0px;
    text-align: left;
  }

  .payment-method-dd label.long_text {
    //line-height: 20px;
  }
}


@media screen and (max-width: 767px) {
  .payment-method-dd label.long_text {
    line-height: 41px;
  }
}

@media screen and (max-width: 600px) {
  .payment-method-button{
    margin-bottom: 10px;
  }
}

@media screen and (min-width:768px)
and (max-width:1060px){
  .my-profile{
    .main-content{
      padding-left: 0;
      padding-right: 0;
    }

  }
}

/*Media Quries Ends Here*/

/*Page Css Ends Here*/
